@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url("../fonts/MabryPro-Black.eot");
  src: url("../fonts/MabryPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MabryPro-Black.woff2") format("woff2"), url("../fonts/MabryPro-Black.woff") format("woff"), url("../fonts/MabryPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block__head h2 {
  color: #323232;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.breadcrumbs {
  padding: 20px 0;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li:before {
  content: '/';
  padding: 0 5px;
  color: #828282;
  font-size: 14px;
}

.breadcrumbs ul li:first-child:before {
  display: none;
}

.breadcrumbs ul li a, .breadcrumbs ul li span {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Century Gothic', sans-serif;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort span, .sort a {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.sort a:hover {
  color: #b60000;
}

.sort-active {
  color: #b60000 !important;
}

.header {
  position: relative;
  background-color: #080808;
  padding: 16px 0;
  z-index: 999 !important;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-close {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #fff;
  font-weight: 900;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li {
  margin-left: 25px;
}

.header__nav ul li:first-child {
  margin-left: 0;
}

.header__nav ul a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Mabry Pro';
}

.header__nav ul a:hover {
  color: #b60000;
}

.header__phone span, .header__phone a {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Century Gothic', sans-serif;
}

.header__phone a:hover {
  opacity: 0.7;
}

.header-mobile {
  position: relative;
  display: none;
  position: absolute;
  width: 20px;
  left: 15px;
  top: 10px;
  min-height: 14px;
  margin-top: 12px;
}

.header-mobile span {
  position: absolute;
  display: block;
  width: 21px;
  height: 3px;
  top: 50%;
  left: 11px;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.header-mobile span:before {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  top: 6px;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-mobile span:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  top: -6px;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.preview {
  position: relative;
  min-height: 700px;
  padding-bottom: 200px;
  padding-top: 150px;
}

.preview__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-size: cover !important;
  background-position: bottom center;
  z-index: -2;
}

.preview__page {
  padding-top: 32px;
  padding-bottom: 40px;
  min-height: 100%;
}

.preview__logo img {
  max-width: 360px;
}

.preview__logo-descr {
  margin-top: 20px;
  max-width: 495px;
  color: #fefefe;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Century Gothic', sans-serif;
}

.preview__nav {
  margin-top: 115px;
}

.preview__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.preview__nav li a {
  border-radius: 5px;
  position: relative;
  border: 1px solid #adadad;
  padding: 15px 20px;
  color: #fefefe;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.preview__nav li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background-color: #f5f5f5;
  opacity: 0.3;
  z-index: -1;
}

.preview__nav li a:hover {
  border-color: transparent;
  background-color: #b60000;
}

.info {
  padding-top: 65px;
  text-align: center;
}

.info__content {
  margin-top: 33px;
}

.info__content p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.articles {
  margin-top: 72px;
}

.articles .block__head {
  text-align: center;
}

.articles__wrap {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles__card {
  position: relative;
  width: 33.3%;
  height: 390px;
  background-size: cover !important;
}

.articles__card-back {
  display: none;
  height: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles__card-back:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}

.articles__card-back .descr {
  position: relative;
  text-align: center;
  padding: 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;
}

.articles__card-back a {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 69px;
  padding: 23px 75px;
  -webkit-box-shadow: 0 10px 20px rgba(25, 25, 25, 0.35);
          box-shadow: 0 10px 20px rgba(25, 25, 25, 0.35);
  border-radius: 5px;
  background-color: #b60000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.articles__card:hover .articles__card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog {
  margin-top: 70px;
}

.catalog__page {
  margin-top: 0;
}

.catalog__wrap {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__sidebar {
  width: 35%;
}

.catalog__sidebar-nav {
  border-radius: 5px;
  background-color: #3b424d;
}

.catalog__sidebar-nav-wrap .sidebar-close {
  display: none;
}

.catalog__sidebar-nav .nav-block {
  color: #fff;
}

.catalog__sidebar-nav .nav-block__head a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 19px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog__sidebar-nav .nav-block ul {
  padding: 23px 19px;
  background-color: #2a2f37;
}

.catalog__sidebar-nav .nav-block ul li {
  margin-bottom: 20px;
}

.catalog__sidebar-nav .nav-block ul li a {
  color: #eaeaea;
  font-size: 20px;
  font-weight: 400;
}

.catalog__sidebar-nav .nav-block ul li:last-child {
  margin-bottom: 0;
}

.catalog__sidebar-nav .nav-block a:hover {
  opacity: 0.7;
}

.catalog__sidebar-nav .nav__block-menu {
  position: relative;
  display: none;
}

.catalog__sidebar-nav .nav__block-menu a {
  font-size: 14px !important;
}

.catalog__sidebar-nav .nav__block-menu:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  right: 0;
  background-image: url(../img/arrow__top.png);
  background-size: cover;
}

.catalog .reviews {
  margin-top: 61px;
}

.catalog .reviews-mobile {
  display: none;
}

.catalog .reviews__wrap {
  margin-top: 30px;
}

.catalog .reviews__card {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 31px 33px 17px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.catalog .reviews__card-name {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.catalog .reviews__card-rating {
  margin-top: 10px;
}

.catalog .reviews__card-date {
  margin-top: 10px;
  color: #a8a8a8;
  font-size: 11px;
  font-weight: 400;
}

.catalog .reviews__card-text {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #323232;
  font-size: 13px;
  text-align: center;
}

.catalog__filter {
  border-radius: 0 0 5px 5px;
  background-color: #e5e8f0;
}

.catalog__filter-head {
  border-radius: 5px 5px 0 0;
  background-color: #3b414d;
  padding: 27px 20px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__filter .filter__button {
  display: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  position: relative;
}

.catalog__filter .filter__button:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  right: 0;
  background-image: url(../img/arrow__top.png);
  background-size: cover;
}

.catalog__filter .filter-close {
  display: none;
}

.catalog__filter-block {
  padding: 20px;
  border-bottom: 1px solid #bbbdc4;
}

.catalog__filter-block:last-child {
  border: none;
}

.catalog__filter-block span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__filter-block-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.catalog__filter-block-slider .input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.catalog__filter-block-slider .input-block span {
  padding-top: 10px;
}

.catalog__filter-block-slider .input-block input {
  width: 130px;
  max-width: 70%;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.catalog__filter-block-slider .input-block input:focus {
  outline: none;
}

.catalog__filter-block-sliderText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.catalog__filter-block-sliderText .input-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14%;
}

.catalog__filter-block-sliderText .input-block input {
  display: inline-block;
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.catalog__filter-block-sliderText .input-block:after {
  content: 'р';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__filter-block-sliderText .input-block span {
  color: #323232;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__filter-block .select__wrap {
  position: relative;
}

.catalog__filter-block .select__wrap:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  background-image: url(../img/arrow-select.png);
}

.catalog__filter-block .select__wrap select {
  width: 100%;
  padding: 15px 10px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.catalog__filter-block .select__wrap select:focus {
  border: none;
  outline: none;
}

.catalog__filter-block .checkbox__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__filter-block .checkbox__wrap input[type="checkbox"] {
  display: none;
}

.catalog__filter-block .checkbox__wrap label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 10px;
}

.catalog__filter-block .checkbox__wrap label:last-child {
  margin-bottom: 0;
}

.catalog__filter-block .checkbox__wrap label::before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.catalog__filter-block .checkbox__wrap input[type="checkbox"]:checked + label::before {
  content: '';
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-size: 15px 11px;
  background-position: center center;
  background-color: #b60000;
}

.catalog__filter-block-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter-block-buttons .filter__btn {
  padding: 20px 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #b60000;
  border: none;
  cursor: pointer;
}

.catalog__filter-block-buttons .filter__btn:hover {
  opacity: 0.8;
}

.catalog__filter-block-buttons .reset {
  color: #323232;
  background-color: transparent;
}

.catalog__cards {
  width: 65%;
  padding-left: 20px;
}

.catalog__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 40px;
}

.catalog__cards .card__images {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__cards .card__images-big img {
  border-radius: 5px 0 0 5px;
}

.catalog__cards .card__images-small {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 100%;
}

.catalog__cards .card__images-small img {
  width: 100%;
}

.catalog__cards .card__content {
  width: 40%;
  padding: 20px;
}

.catalog__cards .card__content-number {
  color: #323232;
  font-size: 15px;
  font-weight: 500;
}

.catalog__cards .card__content-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  color: #323232;
  font-size: 18px;
  font-weight: 500;
}

.catalog__cards .card__content-head:hover {
  color: #3162c5;
}

.catalog__cards .card__content-info {
  margin-top: 27px;
}

.catalog__cards .card__content-info li {
  color: #323232;
  font-size: 13px;
  font-weight: 500;
  font-weight: 500;
}

.catalog__cards .card__content-info li span {
  font-weight: 400;
}

.catalog__cards .card__content-descr {
  margin-top: 30px;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
}

.catalog__cards .card__content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__cards-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #b60000;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 29px 0;
}

.catalog__social {
  text-align: center;
  margin-top: 40px;
}

.catalog__social-item {
  margin-right: 10px;
}

.catalog__social-item:last-child {
  margin-right: 0;
}

.catalog__social-item:hover {
  opacity: 0.7;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-widget-content {
  border-radius: 3px;
  background-color: #707886 !important;
}

.ui-slider-horizontal {
  height: 6px !important;
}

.ui-slider .ui-slider-handle {
  width: 15px !important;
  height: 12px !important;
  border: none !important;
  background: transparent url(../img/range-arrow.png) !important;
}

.ui-slider .ui-slider-handle:focus {
  outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 5px !important;
}

.ui-widget-header {
  background-color: #b60000 !important;
  border-radius: 0 !important;
}

.sidebar-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.filter-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.product__wrap {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card {
  width: 75%;
}

.product__card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
}

.product__card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.product__card-slider-for {
  width: 72%;
}

.product__card-slider-for img {
  height: 635px;
}

.product__card-slider-nav {
  width: 28%;
  padding-left: 20px;
}

.product__card-slider-nav img {
  width: 100%;
  padding-bottom: 4px;
}

.product__card-slider-nav .card__slider-item {
  cursor: pointer;
}

.product__card-slider-nav .card__slider-item:focus {
  outline: none;
}

.product__card-content {
  position: relative;
  width: 35%;
  padding: 15px;
  padding-bottom: 90px;
}

.product__card-content-number, .product__card-content-head {
  color: #323232;
  font-size: 18px;
  font-weight: 500;
}

.product__card-content-head, .product__card-content-info, .product__card-content-text {
  margin-top: 25px;
}

.product__card-content-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
}

.product__card-content-info li span {
  font-weight: 400;
  padding-left: 5px;
}

.product__card-content-text {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
}

.product__card-content-price {
  position: absolute;
  bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}

.product__card-content-price span {
  text-transform: uppercase;
}

.product__card-parents {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__card-parents .parents__card {
  width: 49%;
}

.product__card-parents .parents__card-photo {
  position: relative;
  height: 275px;
  border-radius: 5px;
  background-size: cover !important;
  background-position: center center;
}

.product__card-parents .parents__card-photo span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 5px;
  background-color: #b60000;
  padding: 15px 22px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__card-parents .parents__card-descr {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 0;
  text-align: center;
}

.product__info {
  width: 25%;
  padding-left: 20px;
}

.product__info-contacts {
  padding: 30px 13px;
  border-radius: 5px;
  background: #e5e8f0 url(../img/info-wrap.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.product__info-contacts p {
  color: #323232;
  font-size: 16px;
  margin-bottom: 20px;
}

.product__info-contacts p a {
  color: #1c52ab;
  font-weight: 400;
}

.product__info-contacts p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.product__info-contacts p span a {
  color: #323232;
  font-size: 20px;
  font-weight: 600;
  margin-right: 3px;
}

.product__info-contacts p:last-child {
  margin-bottom: 0;
}

.product__info-text {
  margin-top: 20px;
}

.product__info-text-head {
  padding: 20px 10px;
  border-radius: 5px 5px 0 0;
  background-color: #b60000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__info-text-wrap {
  border-radius: 0 0 5px 5px;
  background-color: #fbeeee;
  padding: 30px 20px;
  padding-bottom: 20px;
}

.product__info-text-wrap p {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.product__info-text-wrap p:last-child {
  margin-bottom: 0;
}

.product__info-text-wrap p span {
  font-weight: 700;
}

.footer {
  background-color: #080808;
  margin-top: 160px;
  padding-top: 70px;
}

.footer__descr {
  color: #fefefe;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Century Gothic', sans-serif;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-block {
  width: 33%;
}

.footer__top-block-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__contacts .contacts__block {
  text-align: right;
  margin-bottom: 10px;
}

.footer__contacts .contacts__block a, .footer__contacts .contacts__block span {
  color: #fefefe;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Century Gothic', sans-serif;
}

.footer__contacts .contacts__block a:hover {
  opacity: 0.7;
}

.footer__bottom {
  margin-top: 68px;
  padding: 18px 0;
  border-top: 1px solid #2e2e2e;
  text-align: center;
}

.footer__bottom span {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Century Gothic', sans-serif;
}

.arrow__top {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 99;
  border-radius: 5px;
  padding: 15px;
  padding-top: 46px;
  background-color: #dedede;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  cursor: pointer;
}

.arrow__top:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 22px;
  top: 15px;
  left: 0;
  background-image: url(../img/arrow__top.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow__top span {
  color: #323232;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.top__show {
  right: 30px !important;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
  .arrow__top {
    display: none !important;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 8px;
    background-color: #000;
    z-index: 99;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: auto;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .header__nav ul li {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .header__nav-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__phone {
    width: 100%;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__phone span {
    margin-right: 5px;
    font-size: 14px;
  }
  .header__phone a {
    font-size: 18px;
  }
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .preview {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .preview:before {
    background-position: center center;
  }
  .preview__logo img {
    width: 100%;
    max-width: 360px;
  }
  .preview__logo-descr {
    font-size: 20px;
  }
  .preview__nav {
    margin-top: 50px;
  }
  .preview__nav li {
    margin-bottom: 30px;
  }
  .preview__nav li a {
    padding: 10px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .block__head h2 {
    font-size: 20px;
  }
  .info {
    padding-top: 40px;
    text-align: center;
  }
  .info__content {
    margin-top: 20px;
  }
  .info__content p {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .articles {
    margin-top: 40px;
  }
  .articles__wrap {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles__card {
    width: 100%;
    height: 250px;
    background-position: center center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .articles__card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .articles__card-back .descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .articles__card-back a {
    padding: 10px 50px;
  }
}

@media (max-width: 575px) {
  .sort {
    display: none;
  }
  .catalog {
    margin-top: 40px;
  }
  .catalog__wrap {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__sidebar {
    width: 100%;
  }
  .catalog__sidebar-nav {
    border-radius: 5px;
    background-color: #3b424d;
  }
  .catalog__sidebar-nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    background-color: #3b424d;
    z-index: 999;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: auto;
  }
  .catalog__sidebar-nav-wrap .sidebar-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
  }
  .catalog__sidebar-nav .nav-block {
    color: #fff;
  }
  .catalog__sidebar-nav .nav-block__head a {
    padding: 15px;
    font-size: 18px;
  }
  .catalog__sidebar-nav .nav-block ul {
    padding: 15px;
    background-color: #2a2f37;
  }
  .catalog__sidebar-nav .nav-block ul li {
    margin-bottom: 20px;
  }
  .catalog__sidebar-nav .nav-block ul li a {
    font-size: 16px;
  }
  .catalog__sidebar-nav .nav-block ul li:last-child {
    margin-bottom: 0;
  }
  .catalog__sidebar-nav .nav__block-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog .reviews {
    margin-top: 30px;
  }
  .catalog .reviews-desktop {
    display: none;
  }
  .catalog .reviews-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog .reviews__wrap {
    margin-top: 20px;
  }
  .catalog .reviews__card {
    padding: 20px;
    margin-bottom: 5px;
  }
  .catalog .reviews__card-name {
    font-size: 16px;
  }
  .catalog .reviews__card-text {
    margin-top: 20px;
  }
  .catalog__filter .filter__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog__filter-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    background-color: #e5e8f0;
    z-index: 999;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow: auto;
  }
  .catalog__filter-wrap .filter-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #3b414d;
    font-weight: 900;
  }
  .catalog__filter-head {
    background-color: #e5e8f0;
    color: #3b414d;
    font-weight: 900;
  }
  .catalog__filter-block-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter-block-sliderText .input-block {
    width: 20%;
  }
  .catalog__cards {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  .catalog__cards .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  .catalog__cards .card__images {
    width: 100%;
  }
  .catalog__cards .card__images-big img {
    width: 100%;
    max-width: 360px;
  }
  .catalog__cards .card__content {
    width: 100%;
  }
  .catalog__cards-link {
    text-align: center;
    font-size: 14px;
    padding: 15px;
  }
  .product__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__card {
    width: 100%;
  }
  .product__card-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__card-slider {
    width: 100%;
  }
  .product__card-slider-for {
    width: 100%;
  }
  .product__card-slider-for img {
    width: 100%;
    height: 415px;
    border-radius: 5px;
  }
  .product__card-slider-for .slick-dots {
    bottom: 15px;
    z-index: 999;
  }
  .product__card-slider-for .slick-dots li button:before {
    font-size: 15px;
    width: 30px;
    color: #b60000;
    opacity: 0.5;
  }
  .product__card-slider-for .slick-active button:before {
    opacity: 1 !important;
  }
  .product__card-slider-nav {
    display: none;
  }
  .product__card-content {
    width: 100%;
  }
  .product__card-parents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__card-parents .parents__card {
    width: 100%;
  }
  .product__card-parents .parents__card-photo {
    height: 200px;
  }
  .product__card-parents .parents__card-photo span {
    padding: 10px;
    font-size: 16px;
  }
  .product__info {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  .footer {
    margin-top: 60px;
    padding-top: 50px;
  }
  .footer__descr {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top-block {
    width: 100%;
  }
  .footer__top-block-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__logo a img {
    width: 100%;
    max-width: 360px;
  }
  .footer__contacts .contacts__block {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer__contacts .contacts__block a, .footer__contacts .contacts__block span {
    font-size: 18px;
  }
  .footer__bottom {
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .catalog {
    margin-top: 70px;
  }
  .catalog__wrap {
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .catalog__sidebar {
    width: 40%;
  }
  .catalog__sidebar-nav .nav-block__head a {
    padding: 15px;
    font-size: 18px;
  }
  .catalog__sidebar-nav .nav-block ul {
    padding: 15px;
  }
  .catalog__sidebar-nav .nav-block ul li {
    margin-bottom: 10px;
  }
  .catalog__sidebar-nav .nav-block ul li a {
    font-size: 18px;
  }
  .catalog__sidebar-nav .nav-block a:hover {
    opacity: 0.7;
  }
  .catalog__sidebar .reviews {
    margin-top: 30px;
  }
  .catalog__sidebar .reviews__wrap {
    margin-top: 20px;
  }
  .catalog__sidebar .reviews__card {
    padding: 15px;
  }
  .catalog__sidebar .reviews__card-text {
    margin-top: 20px;
  }
  .catalog__filter-block-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__cards {
    width: 60%;
    padding-left: 10px;
  }
  .catalog__cards .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .catalog__cards .card__images {
    width: 100%;
  }
  .catalog__cards .card__images-big img {
    width: 100%;
  }
  .catalog__cards .card__content {
    width: 100%;
    padding: 20px;
  }
  .catalog__cards-link {
    font-size: 16px;
    padding: 20px 0;
  }
  .product__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__card {
    width: 100%;
  }
  .product__card-slider-for img {
    height: 570px;
  }
  .product__card-parents .parents__card-photo {
    height: 200px;
  }
  .product__info {
    width: 100%;
  }
  .product__info p span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer {
    margin-top: 60px;
    padding-top: 50px;
  }
  .footer__descr {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top-block {
    width: 100%;
  }
  .footer__top-block-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__logo a img {
    width: 100%;
    max-width: 360px;
  }
  .footer__contacts .contacts__block {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer__contacts .contacts__block a, .footer__contacts .contacts__block span {
    font-size: 18px;
  }
  .footer__bottom {
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .articles__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles__card {
    position: relative;
    width: 49%;
    height: 290px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header__nav {
    width: 40%;
  }
  .articles__card {
    height: 250px;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  .header__nav {
    width: 30%;
  }
  .catalog__cards {
    padding-left: 20px;
  }
  .catalog__cards .card__images-small {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .catalog__cards .card__images-small img {
    width: 100%;
    margin-top: 10px;
  }
  .catalog__cards .card__images-small img:first-child {
    margin-top: 0;
  }
  .footer {
    margin-top: 60px;
    padding-top: 50px;
  }
  .footer__descr {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .footer__logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__logo a img {
    width: 100%;
    max-width: 360px;
  }
  .footer__contacts .contacts__block {
    margin-bottom: 10px;
  }
  .footer__contacts .contacts__block a, .footer__contacts .contacts__block span {
    font-size: 18px;
  }
  .footer__bottom {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */