@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mabry Pro';
    src: url('../fonts/MabryPro-Black.eot');
    src: url('../fonts/MabryPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MabryPro-Black.woff2') format('woff2'),
        url('../fonts/MabryPro-Black.woff') format('woff'),
        url('../fonts/MabryPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@mixin cent {
    font-family: 'Century Gothic', sans-serif;
}
@mixin mabry {
    font-family: 'Mabry Pro';
}
@mixin monts {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    @include monts();
    background: #f5f5f5;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.block__head h2 {
    color: #323232;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.breadcrumbs {
    padding: 20px 0;
    ul {
        display: flex;

        li {
            &:before {
                content: '/';
                padding: 0 5px;
                color: #828282;
                font-size: 14px;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
            a, span {
                color: #828282;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                @include cent();
            }
        }
    }
}
.sort {
    display: flex;
    span, a {
        color: #323232;
        font-size: 14px;
        font-weight: 400;
        margin-right: 5px;
    }
    a:hover {            
        color: #b60000;
    }
    &-active {
        color: #b60000 !important;
    }
}
.header {   
    position: relative;
    background-color: #080808;
    padding: 16px 0;
    z-index: 999 !important;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        &-close {
            position: absolute;
            display: none;
            top: 10px;
            right: 10px;
            font-size: 40px;
            color: #fff;
            font-weight: 900;
        }
        ul {
            display: flex;
            li {
                margin-left: 25px;
                &:first-child {
                    margin-left: 0;
                }
            }
            a {
                color: #ffffff;
                font-size: 14px;
                text-transform: uppercase;
                @include mabry();
                &:hover {                    
                    color: #b60000;
                }
            }
        }
    }
    &__phone {
        span, a {
            color: #fefefe;
            font-size: 20px;
            font-weight: 400;
            @include cent();
        }
        a:hover {
            opacity: 0.7;
        }
    }
    &-mobile {
        position: relative;
        display: none;
        position: absolute;
        width: 20px;
        left: 15px;
        top: 10px;
        min-height: 14px;
        margin-top: 12px;
        span {
            position: absolute;
            display: block;
            width: 21px;
            height: 3px;
            top: 50%;
            left: 11px;
            background-color: #fff;
            transform: translateX(-50%) translateY(-50%);
            &:before {
                content: '';
                position: absolute;
                width: 21px;
                height: 3px;
                top: 6px;
                left: 50%;
                background-color: #fff;
                transform: translateX(-50%);
            }
            &:after {
                content: '';
                position: absolute;
                width: 21px;
                height: 3px;
                top: -6px;
                left: 50%;
                background-color: #fff;
                transform: translateX(-50%);
            }
        }

    }
}
.mobile-active {
    transform: translateX(0%) !important;
}
.preview {
    position: relative;
    min-height: 700px;
    padding-bottom: 200px;
    padding-top: 150px;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background-size: cover !important;
        background-position: bottom center;
        z-index: -2;
    }
    &__page {
        padding-top: 32px;
        padding-bottom: 40px;
        min-height: 100%;
    }
    &__logo {
        img {
            max-width: 360px;
        }
        &-descr {
            margin-top: 20px;
            max-width: 495px;
            color: #fefefe;
            font-size: 24px;
            font-weight: 400;
            @include cent();
        }
    }
    &__nav {
        margin-top: 115px;
        li {
            display: flex;
            margin-bottom: 30px;
            a {
                border-radius: 5px;
                position: relative;
                border: 1px solid #adadad;               
                padding: 15px 20px;
                color: #fefefe;
                font-size: 36px;
                font-weight: 500;
                @include monts();
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0;
                    background-color: #f5f5f5;
                    opacity: 0.3;
                    z-index: -1;
                }
                &:hover {
                    border-color: transparent;
                    background-color: #b60000;
                }
            }
        }
    }
}

.info {
    padding-top: 65px;
    text-align: center;
    &__content {
        margin-top: 33px;
        p {
            color: #323232;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }
}
.articles {
    margin-top: 72px;
    .block__head {
        text-align: center;
    }
    &__wrap {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {
        position: relative;
        width: 33.3%;
        height: 390px;
        background-size: cover !important;
        &-back {
            display: none;
            height: 100%;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #000;
                opacity: 0.3;
                z-index: 1;
            }
            .descr {
                position: relative;
                text-align: center;
                padding: 0 20px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 500;
                z-index: 2;
            }
            a {
                position: relative;
                z-index: 2;
                display: inline-flex;
                margin-top: 69px;
                padding: 23px 75px;
                box-shadow: 0 10px 20px rgba(25, 25, 25, 0.35);
                border-radius: 5px;
                background-color: #b60000;
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &:hover {
            .articles__card-back {
                display: flex;
            }
        }
    }
}
.catalog {
    margin-top: 70px;
    &__page {
        margin-top: 0;
    }
    &__wrap {
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
    }
    &__sidebar {
        width: 35%;
        &-nav {
            border-radius: 5px;
            background-color: #3b424d;
            &-wrap {
                .sidebar-close {
                    display: none;
                }
            }
            .nav-block {
                color: #fff;
                &__head {
                    a {
                        display: flex;
                        padding: 23px 19px;
                        color: #ffffff;
                        font-size: 22px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
                ul {
                    padding: 23px 19px;
                    background-color: #2a2f37;
                    li {
                        margin-bottom: 20px;
                        a {
                            color: #eaeaea;
                            font-size: 20px;
                            font-weight: 400;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                a:hover {
                    opacity: 0.7;
                }
            }
            .nav__block-menu {
                position: relative;
                display: none;
                a {
                    font-size: 14px !important;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 10px;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    right: 0;
                    background-image: url(../img/arrow__top.png);
                    background-size: cover;
                }
            }
        }
    }
    .reviews {
        margin-top: 61px;
        &-mobile {
            display: none;
        }
        &__wrap {
            margin-top: 30px;
        }
        &__card {
            border-radius: 5px;
            background-color: #ffffff;
            padding: 31px 33px 17px 33px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
            &-name {
                color: #323232;
                font-size: 16px;
                font-weight: 500;
            }
            &-rating {
                margin-top: 10px;
            }
            &-date {
                margin-top: 10px;
                color: #a8a8a8;
                font-size: 11px;
                font-weight: 400;
            }
            &-text {
                margin-top: 36px;
                display: flex;
                color: #323232;
                font-size: 13px;
                text-align: center;
            }
        }
    }
    &__filter {
        border-radius:  0 0 5px 5px;
        background-color: #e5e8f0;
        &-head {
            border-radius: 5px 5px 0 0;
            background-color: #3b414d;
            padding: 27px 20px;
            color: #f5f5f5;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .filter__button {
            display: none;
            border-radius: 5px;
            padding: 20px;
            font-size: 14px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 25px;
                height: 10px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                right: 0;
                background-image: url(../img/arrow__top.png);
                background-size: cover;
            }
        }
        .filter-close {
            display: none;
        }
        &-block {
            padding: 20px;
            border-bottom: 1px solid #bbbdc4;
            &:last-child {
                border: none;
            }
            span {
                display: flex;
                margin-bottom: 10px;
                color: #323232;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &-slider {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .input-block {
                    display: flex;
                    justify-content: space-between;
                    width: 48%;
                    span {
                        padding-top: 10px;
                    }
                    input {
                        width: 130px;
                        max-width: 70%;
                        border: none;
                        border-radius: 5px;
                        background-color: #f5f5f5;
                        color: #323232;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            &-sliderText {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .input-block {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    width: 14%;
                    input {
                        display: inline-block;
                        color: #323232;
                        font-size: 12px;
                        font-weight: 400;
                        text-transform: uppercase;
                        border: none;
                        background-color: transparent;
                    }                    
                    &:after {
                        content: 'р';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        color: #323232;
                        font-size: 12px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                    span {
                        color: #323232;
                        font-size: 12px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }

                }

            }
            .select__wrap {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 9px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    background-image: url(../img/arrow-select.png);
                }
                select {
                    width: 100%;
                    padding: 15px 10px;
                    border: none;
                    appearance: none;
                    color: #323232;
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 5px;
                    background-color: #f5f5f5;
                    cursor: pointer;
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }
            .checkbox__wrap {
                display: flex;
                flex-direction: column;
                input[type="checkbox"] {
                    display: none;
                }
                label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                label::before {
                    content: '';
                    display: inline-flex;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    border-radius: 5px;
                    background-color: #f5f5f5;
                }
                input[type="checkbox"]:checked + label::before {
                    content: '';
                    background-image: url(../img/check.png);
                    background-repeat: no-repeat;
                    background-size: 15px 11px;
                    background-position: center center;                
                    background-color: #b60000;
                }
            } 
            &-buttons {
                display: flex;
                justify-content: space-between;                
                .filter__btn {
                    padding: 20px 50px;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    border-radius: 5px;
                    background-color: #b60000;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                }  
                .reset {
                    color: #323232;
                    background-color: transparent;
                }
            }            
        }
    }
    &__cards {
        width: 65%;
        padding-left: 20px;
        .card {
            display: flex;
            justify-content: space-between;
            background-color: #ffffff;
            border-radius: 5px;
            margin-bottom: 40px;
            &__images {
                width: 60%;
                display: flex;
                &-big {
                    img {
                        border-radius: 5px 0 0 5px;
                    }
                }
                &-small {
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            &__content {
                width: 40%;
                padding: 20px;
                &-number {
                    color: #323232;
                    font-size: 15px;
                    font-weight: 500;
                }
                &-head {
                    display: flex;
                    margin-top: 20px;
                    color: #323232;
                    font-size: 18px;
                    font-weight: 500;
                    &:hover {
                        color: #3162c5;
                    }
                }
                &-info {
                    margin-top: 27px;
                    li {
                        color: #323232;
                        font-size: 13px;
                        font-weight: 500;
                        font-weight: 500;
                        span {
                            font-weight: 400;
                        }
                    }                    
                }
                &-descr {
                    margin-top: 30px;
                    color: #323232;
                    font-size: 13px;
                    font-weight: 400;
                }
                &-price {
                    display: flex;
                    margin-top: 40px;
                    color: #323232;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        &-link {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            background-color: #b60000;
            color: #f5f5f5;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            width: 100%;
            padding: 29px 0;
        }
    }
    &__social {
        text-align: center;
        margin-top: 40px;
        &-item {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.ui-widget.ui-widget-content {
    border: none !important;
}
.ui-widget-content {
    border-radius: 3px;
    background-color: #707886 !important;
}
.ui-slider-horizontal {
    height: 6px !important;
}
.ui-slider .ui-slider-handle  {
    width: 15px !important;
    height: 12px !important;
    border: none !important;
    background: transparent url(../img/range-arrow.png) !important;
    &:focus {
        outline: none;
    }
}
.ui-slider-horizontal .ui-slider-handle {
    top: 5px !important;
}
.ui-widget-header {
    background-color: #b60000 !important;
    border-radius: 0 !important;
}


.sidebar-active {
    transform: translateX(0%) !important;
}
.filter-active {
    transform: translateX(0%) !important;
}
.product {
    &__wrap {
        margin-top: 19px;
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 75%;
        &-wrap {
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            background-color: #fff;
        }
        &-slider {
            display: flex;
            justify-content: space-between;
            width: 65%;
            &-for {
                width: 72%;
                img {
                    height: 635px;
                }
            }
            &-nav {
                width: 28%;
                padding-left: 20px;
                img {
                    width: 100%;
                    padding-bottom: 4px;
                }
                .card__slider-item {
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &-content {
            position: relative;
            width: 35%;
            padding: 15px;
            padding-bottom: 90px;
            &-number, &-head {
                color: #323232;
                font-size: 18px;
                font-weight: 500;
            }
            &-head, &-info, &-text {
                margin-top: 25px;
            }
            &-info {                
                li {
                    display: flex;
                    color: #323232;
                    font-size: 14px;
                    font-weight: 500;
                    span {
                        font-weight: 400;
                        padding-left: 5px;
                    }
                }
            }
            &-text {
                color: #323232;
                font-size: 14px;
                font-weight: 400;
            }
            &-price {
                position: absolute;
                bottom: 40px;
                font-size: 24px;
                font-weight: 700;
                span {
                    text-transform: uppercase;
                }
            }
        }
        &-parents {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .parents__card {
                width: 49%;
                &-photo {
                    position: relative;
                    height: 275px;
                    border-radius: 5px;
                    background-size: cover !important;
                    background-position: center center;
                    span {
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-flex;
                        border-radius: 5px;
                        background-color: #b60000;
                        padding: 15px 22px;
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
                &-descr {
                    color: #323232;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 9px 0;
                    text-align: center;
                }
            }
        }
    }
    &__info {
        width: 25%;
        padding-left: 20px;
        &-contacts {
            padding: 30px 13px;
            border-radius: 5px;
            background: #e5e8f0 url(../img/info-wrap.png);
            background-position: right bottom;
            background-repeat: no-repeat;
            p {
                color: #323232;
                font-size: 16px;
                a {
                    color: #1c52ab;
                    font-weight: 400;
                }
                span {
                    display: flex;
                    a {
                        color: #323232;
                        font-size: 20px;
                        font-weight: 600;
                        margin-right: 3px;
                    }
                    font-size: 20px;
                    font-weight: 600;
                } 
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }               
            }
        }
        &-text {
            margin-top: 20px;
            &-head {
                padding: 20px 10px;
                border-radius: 5px 5px 0 0;
                background-color: #b60000;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
            }
            &-wrap {
                border-radius: 0 0 5px 5px;
                background-color: #fbeeee;
                padding: 30px 20px;
                padding-bottom: 20px;
                p {
                    color: #323232;
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


.footer {
    background-color: #080808;
    margin-top: 160px;
    padding-top: 70px;    
    &__descr {
        color: #fefefe;
        font-size: 24px;
        font-weight: 400;
        @include cent();
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-block {
            width: 33%;
            &-contacts {
                display: flex;
                justify-content: flex-end;
            }
        }
        
    }
    &__contacts {
        .contacts__block {
            text-align: right;
            margin-bottom: 10px;
            a, span {
                color: #fefefe;
                font-size: 24px;
                font-weight: 400;
                @include cent();
            }
            a:hover {
                opacity: 0.7;
            }
        }
    }
    &__bottom {
        margin-top: 68px;
        padding: 18px 0;
        border-top: 1px solid #2e2e2e;
        text-align: center;
        span {
            color: #7c7c7c;
            font-size: 12px;
            font-weight: 400;
            @include cent();
        }
    }
}

.arrow__top {
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 99;
    border-radius: 5px;
    padding: 15px;
    padding-top: 46px;
    background-color: #dedede;
    transform: translateX(100%);
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 22px;
        top: 15px;
        left: 0;
        background-image: url(../img/arrow__top.png);
        background-repeat: no-repeat;
        background-position: center center;
    }
    span {
        color: #323232;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.top__show {
    right: 30px !important;
    transform: translateX(0%) !important;
}

@media (max-width: 1024px) {     
    .container {
        padding: 0 15px;
    }
    .arrow__top {
        display: none !important;
    }
    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 8px;
        background-color: #000;
        z-index: 99;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        transform: translateX(-100%);
        overflow: auto;
        ul {
            flex-direction: column;
            margin-top: 40px;
            li {
                margin-left: 0;
                margin-bottom: 25px;
            }
        }
        &-close {
            display: flex;
        }
    }    
    .header {
        &__phone {
            width: 100%;
            padding-left: 30px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span {
                margin-right: 5px;
                font-size: 14px;
            }
            a {
                font-size: 18px;
            }
        }
        &-mobile {
            display: flex;
        }
    }  
    .preview {
        min-height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        &:before {
            background-position: center center;
        }
        &__logo {
            img {
                width: 100%;
                max-width: 360px;
            }
            &-descr {
                font-size: 20px;
            }
        }
        &__nav {
            margin-top: 50px;
            li {
                margin-bottom: 30px;
                a {             
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .block__head h2 {
        font-size: 20px;
    }
    .info {
        padding-top: 40px;
        text-align: center;
        &__content {
            margin-top: 20px;
            p {
                color: #323232;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 15px;
            }
        }
    }
    .articles {
        margin-top: 40px;
        &__wrap {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        &__card {
            width: 100%;
            height: 250px;
            background-position: center center;
            margin-bottom: 20px;
            padding-bottom: 10px;
            display: flex;
            &-back {
                display: flex;
                justify-content: flex-end;
                .descr {
                    display: flex;
                }
                a {
                    padding: 10px 50px;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .sort {
        display: none;
    }
    .catalog {
        margin-top: 40px;
        &__wrap {
            margin-top: 20px;
            flex-direction: column;
        }
        &__sidebar {
            width: 100%;
            &-nav {
                border-radius: 5px;
                background-color: #3b424d;
                &-wrap {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-top: 35px;
                    background-color: #3b424d;
                    z-index: 999;
                    -webkit-transition: 0.8s;
                    transition: 0.8s;
                    transform: translateX(-100%);
                    overflow: auto;
                    .sidebar-close {
                        display: flex;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 40px;
                        color: #fff;
                        font-weight: 900;
                    }
                }
                .nav-block {
                    color: #fff;
                    &__head {
                        a {
                            padding: 15px;
                            font-size: 18px;
                        }
                    }
                    ul {
                        padding: 15px;
                        background-color: #2a2f37;
                        li {
                            margin-bottom: 20px;
                            a {
                                font-size: 16px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                } 
                .nav__block-menu {
                    display: flex;
                }
            }
        }
        .reviews {
            margin-top: 30px;
            &-desktop {
                display: none;
            }
            &-mobile {
                display: flex;
                flex-direction: column;
            }
            &__wrap {
                margin-top: 20px;
            }
            &__card {
                padding: 20px;
                margin-bottom: 5px;
                &-name {
                    font-size: 16px;
                }
                &-text {
                    margin-top: 20px;
                }
            }
        }
        &__filter {
            .filter__button {
                display: flex;
            }
            &-wrap {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 35px;
                background-color: #e5e8f0;
                z-index: 999;
                -webkit-transition: 0.8s;
                transition: 0.8s;
                transform: translateX(-100%);
                overflow: auto;
                .filter-close {
                    display: flex;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 40px;
                    color: #3b414d;
                    font-weight: 900;
                }
            }
            &-head {
                background-color: #e5e8f0;
                color: #3b414d;
                font-weight: 900;
            }
            &-block {
                &-buttons {
                    display: flex;
                    flex-direction: column;
                }
                &-sliderText {
                    .input-block {
                        width: 20%;
                    }
                }
            }
        }
        &__cards {
            margin-top: 20px;
            width: 100%;
            padding-left: 0;
            .card {
                flex-direction: column;
                background-color: #ffffff;
                border-radius: 5px;
                margin-bottom: 40px;
                &__images {
                    width: 100%;
                    &-big {
                        img {
                            width: 100%;
                            max-width: 360px;
                        }
                    }
                }
                &__content {
                    width: 100%;
                }
            }
            &-link {
                text-align: center;
                font-size: 14px;
                padding: 15px;
            }
        }
    }
    .product {
        &__wrap {
            flex-direction: column;
        }
        &__card {
            width: 100%;
            &-wrap {
                flex-direction: column;
            }
            &-slider {
                width: 100%;
                &-for {
                    width: 100%;
                    img {
                        width: 100%;
                        height: 415px;
                        border-radius: 5px;
                    }
                    .slick-dots {
                        bottom: 15px;
                        z-index: 999;
                        li button {
                            &:before {
                                font-size: 15px;
                                width: 30px;
                                color: #b60000;
                                opacity: 0.5;
                            }
                        }
                    }
                    .slick-active button:before {
                        opacity: 1 !important;
                    }
                }
                &-nav {
                    display: none;
                }
            }
            &-content {
                width: 100%;
            }
            &-parents {
                flex-wrap: wrap;
                .parents__card {
                    width: 100%;
                    &-photo {
                        height: 200px;
                        span {
                            padding: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &__info {
            margin-top: 20px;
            width: 100%;
            padding-left: 0;
        }
    }
    .footer {
        margin-top: 60px;
        padding-top: 50px;    
        &__descr {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
        }
        &__top {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-block {
                width: 100%;
                 &-contacts {
                    justify-content: center;
                }
            }            
        }
        &__logo {
            margin-bottom: 20px;
            text-align: center;
            a {
                img {
                    width: 100%;
                    max-width: 360px;
                }
            }
        }
        &__contacts {
            .contacts__block {
                text-align: center;
                margin-bottom: 10px;
                a, span {
                    font-size: 18px;
                }
            }
        }
        &__bottom {
            margin-top: 20px;
        }
    }
}
@media (min-width: 576px) and (max-width: 992px) {  
    .catalog {
        margin-top: 70px;
        &__wrap {
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        &__sidebar {
            width: 40%;
            &-nav {
                .nav-block {
                    &__head {
                        a {
                            padding: 15px;
                            font-size: 18px;
                        }
                    }
                    ul {
                        padding: 15px;
                        li {
                            margin-bottom: 10px;
                            a {
                                font-size: 18px;
                            }
                        }
                    }
                    a:hover {
                        opacity: 0.7;
                    }
                }
            }
            .reviews {
                margin-top: 30px;
                &__wrap {
                    margin-top: 20px;
                }
                &__card {
                    padding: 15px;
                    &-text {
                        margin-top: 20px;
                    }
                }
            }
        }
        &__filter {
            &-block {
                &-buttons {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        &__cards {
            width: 60%;
            padding-left: 10px;
            .card {
                flex-direction: column;
                margin-bottom: 20px;
                &__images {
                    width: 100%;
                    &-big {
                        img {
                            width: 100%;
                        }
                    }
                }
                &__content {
                    width: 100%;
                    padding: 20px;
                }
            }
            &-link {
                font-size: 16px;
                padding: 20px 0;
            }
        }
    }
    .product {
        &__wrap {
            flex-direction: column;
        }
        &__card {
            width: 100%;
            &-slider {
                &-for {
                    img {
                        height: 570px;
                    }
                }
            }
            &-parents {
                .parents__card {
                    &-photo {
                        height: 200px;
                    }
                }
            }
        }
        &__info {
            width: 100%;
            p {
                span {
                    display: inline-flex;
                }
            }
        }
    }

    .footer {
        margin-top: 60px;
        padding-top: 50px;    
        &__descr {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
        }
        &__top {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-block {
                width: 100%;
                 &-contacts {
                    justify-content: center;
                }
            }            
        }
        &__logo {
            margin-bottom: 20px;
            text-align: center;
            a {
                img {
                    width: 100%;
                    max-width: 360px;
                }
            }
        }
        &__contacts {
            .contacts__block {
                text-align: center;
                margin-bottom: 10px;
                a, span {
                    font-size: 18px;
                }
            }
        }
        &__bottom {
            margin-top: 20px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .articles {
        &__wrap {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__card {
            position: relative;
            width: 49%;
            height: 290px;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header__nav {
        width: 40%;
    }
    .articles {
        &__card {
            height: 250px;
        }
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .header__nav {
        width: 30%;
    }
    .catalog {
        &__cards {
            padding-left: 20px;
            .card {
                &__images {
                    &-small {
                        justify-content: flex-start;
                        img {
                            width: 100%;
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }            
        }
    }
    .footer {
        margin-top: 60px;
        padding-top: 50px;    
        &__descr {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__logo {
            margin-bottom: 20px;
            text-align: center;
            a {
                img {
                    width: 100%;
                    max-width: 360px;
                }
            }
        }
        &__contacts {
            .contacts__block {
                margin-bottom: 10px;
                a, span {
                    font-size: 18px;
                }
            }
        }
        &__bottom {
            margin-top: 20px;
        }
    }
}