@charset "UTF-8";
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f4f9;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul {
  list-style: none;
}

a:focus, input:focus {
  outline: none;
}

h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head h2 {
  padding: 17px 26px 17px 18px;
  background: url(../img/head-wrap.png) no-repeat;
  background-size: contain;
  color: #525252;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.header {
  padding-top: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
          box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
}

.header__top-wrap {
  width: 100%;
}

.header__logo {
  color: #7f848f;
  font-size: 13px;
  font-weight: 400;
  padding-right: 132px;
}

.header__adress {
  padding-left: 22px;
  position: relative;
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  min-width: 170px;
}

.header__adress:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 16px;
  bottom: 0;
  left: 0;
  background: url(../img/icon/adress-icon.svg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 6px;
  color: #424242;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.header__phone span {
  color: #828282;
  font-size: 11px;
  font-weight: 400;
}

.header__phone-top {
  text-align: right;
  font-size: 11px;
}

.header__phone-messager {
  color: #828282;
}

.header__phone-messager span {
  color: #519523;
  font-size: 11px;
  font-weight: 400;
}

.header__phone-messager span:first-child {
  color: #7451e6;
}

.header__phone-icon a {
  position: relative;
  padding-left: 26px;
}

.header__phone-icon a:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../img/icon/phone-icon.svg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__basket {
  min-width: 140px;
  margin-left: 41px;
}

.header__basket-tovar {
  position: relative;
  width: 49px;
  height: 31px;
}

.header__basket-tovar:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 31px;
  top: 0px;
  background: url(../img/basket.png);
}

.header__basket-tovar span {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f4f9;
}

.header__basket-total {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}

.header__bottom {
  margin-top: 19px;
  padding: 5px 0;
  border-top: 1px solid #f2f4f9;
}

.header__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 70px;
}

.header__nav li:first-child {
  margin-left: 0;
}

.header__nav li a {
  color: #424242;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__nav li a:hover {
  color: #00e2ce;
}

.header__nav .dropdown-standart {
  position: relative;
}

.header__nav .dropdown-standart:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 25%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  right: -25px;
  border: 2px solid #d7d7db;
  border-top: none;
  border-right: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header__nav .dropdown-standart:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -22px;
  left: 0;
}

.header__nav .submenu-standart {
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
  background: white;
  padding: 25px 0;
  position: absolute;
  top: 220%;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  min-width: 200px;
  padding: 10px 0;
}

.header__nav .submenu-standart li {
  margin-left: 0;
}

.header__nav .submenu-standart li a {
  text-transform: none;
}

.header__nav .submenu-standart li a:hover {
  color: #00e2ce;
}

.header__nav .dropdown-standart {
  position: relative;
}

.header__nav li:hover .submenu-standart {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.header__nav .submenu-standart li {
  padding: 0 18px;
}

.header__nav .submenu-standart li a {
  display: block;
  padding: 10px 0;
  color: #666;
  font-size: 13px;
}

.header__search {
  width: 354px;
}

.header__search-wrap {
  position: relative;
  border-radius: 20px;
  border: 1px solid #dcdde2;
  background-color: #ffffff;
}

.header__search-wrap:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icon/search.svg);
}

.header__search-wrap input {
  width: 100%;
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding: 14px 50px 14px 20px;
  border-radius: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.header__search-wrap input::-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}

.header__search-wrap input:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}

.header__search-wrap input::-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}

.header__search-wrap input::placeholder {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}

.header-mobile {
  position: relative;
  display: none;
  position: absolute;
  width: 20px;
  right: 15px;
  top: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-height: 14px;
  margin-top: 12px;
}

.header-mobile span {
  position: absolute;
  display: block;
  width: 21px;
  height: 3px;
  top: 50%;
  left: 11px;
  background-color: #424242;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.header-mobile span:before {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  top: 6px;
  left: 50%;
  background-color: #424242;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-mobile span:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  top: -6px;
  left: 50%;
  background-color: #424242;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 8px;
  background-color: #fff;
  z-index: 99;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow: auto;
}

.header .mobile-nav .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 50px;
  color: #424242;
}

.header .mobile-nav .close-btn:hover, .header .mobile-nav .mobile-nav .close-btn:focus {
  text-decoration: none;
}

.header .mobile-nav .header__nav {
  margin-top: 40px;
}

.header .mobile-nav .header__nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .mobile-nav .header__nav-toggle {
  position: relative;
}

.header .mobile-nav .header__nav-toggle:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 25%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  right: 0;
  border: 2px solid #d7d7db;
  border-top: none;
  border-right: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .mobile-nav .header__nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  margin-left: 0;
  margin-bottom: 15px;
}

.header .mobile-nav .header__nav li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.header .mobile-nav .header__nav li a:hover {
  color: #00e2ce;
}

.header .mobile-nav .header__nav li input[type="checkbox"] {
  display: none;
}

.header .mobile-nav .header__nav li label {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
}

.header .mobile-nav .header__nav li ul {
  margin-top: 10px;
  margin-left: 10px;
  display: none;
}

.header .mobile-nav .header__nav li ul li {
  margin-bottom: 10px;
}

.header .mobile-nav .header__nav li ul li:last-child {
  margin-bottom: 0;
}

.header .mobile-nav .header__nav li ul li a {
  text-transform: none;
}

.header .mobile-nav .header__nav li input[type="checkbox"]:checked ~ ul {
  display: block;
}

.header .mobile-nav .header__search {
  width: 100%;
  margin-top: 30px;
}

.header .mobile-nav .header__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .mobile-nav .header__adress {
  display: block;
  margin-top: 20px;
}

.header .mobile-nav .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.header .mobile-nav .header__phone a {
  font-size: 14px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .mobile-nav .header__phone-top {
  text-align: left;
  font-size: 11px;
}

.header .mobile-nav .header__phone-messager {
  color: #fff;
}

.header .mobile-nav .header__phone-messager span {
  color: #519523;
}

.header .mobile-nav .header__phone-messager span:first-child {
  color: #7451e6;
}

.header .mobile-nav .header__phone-icon a {
  padding-left: 0;
}

.header .mobile-nav .header__phone-icon a:before {
  display: none;
}

.header .mobile-nav .header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 130px;
  max-width: 130px;
  margin-left: 0;
  margin-top: 20px;
}

.mobile-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.breadcrumb {
  margin-top: 45px;
  margin-bottom: 27px;
}

.breadcrumb__wrap {
  margin: 0 -15px;
}

.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb ul li {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  padding: 0 15px;
  font-family: 'Lora', sans-serif;
}

.breadcrumb ul li:first-child {
  margin-left: 0;
}

.breadcrumb ul li a {
  color: #626262;
}

.breadcrumb ul li span {
  font-style: italic;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination ul li:first-child {
  margin-right: 20px;
}

.pagination ul li:first-child span:before {
  content: 'предыдущая';
}

.pagination ul li:last-child {
  margin-left: 20px;
}

.pagination ul li:last-child span:before {
  content: 'следующая';
}

.pagination ul li span {
  color: #424242;
  font-size: 13px;
  font-weight: 400;
}

.pagination ul li a {
  color: #424242;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 18px;
  margin-left: 10px;
}

.pagination ul li:nth-child(2) a {
  margin-left: 0;
}

.pagination ul li.pagination__active a {
  padding: 11px 15px;
  border-color: #ff9fcc;
  color: #ff9fcc;
  background: #fff;
  font-weight: 500;
}

.main {
  margin-top: 42px;
  margin-bottom: 28px;
}

.main__slider {
  position: relative;
}

.main__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main__slider .slick-dots li {
  width: 33px;
  height: 7px;
  margin-left: 7px;
  border-radius: 3px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.main__slider .slick-dots li:first-child {
  margin-left: 0;
}

.main__slider .slick-dots li button {
  display: none;
}

.main__slider .slick-dots .slick-active {
  background-color: #fff;
}

.main__slider-slide img {
  width: 100%;
  max-height: 445px;
}

.main__slider-slide:focus {
  outline: none;
}

.catalog {
  margin-bottom: 46px;
}

.catalog__filter {
  margin-top: 24px;
}

.catalog__filter-links {
  margin: 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__filter-links a {
  margin: 5px;
  margin-bottom: 5px;
  height: auto;
  padding: 11px 13px;
  background-color: #ffffff;
  border-radius: 18px;
  color: #626262;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 8px;
}

.catalog__filter-links .filter__active {
  -webkit-box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
          box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
  background-color: #00e2ce;
  color: #fff;
}

.catalog__filter-bottom {
  margin-top: 35px;
  margin-bottom: 48px;
}

.catalog__filter-sort span {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  margin-right: 12px;
}

.catalog__filter-sort-item input {
  display: none;
}

.catalog__filter-sort-item label {
  color: #424242;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 7px 11px;
  border-radius: 18px;
  cursor: pointer;
}

.catalog__filter-sort-item input:checked + label {
  border-color: #ff9fcc;
  color: #ff9fcc;
}

.catalog__filter-mobile {
  display: none;
}

.catalog__filter-mobile-nav span {
  position: relative;
  color: #424242;
  font-size: 15px;
  font-weight: 400;
  padding-right: 15px;
}

.catalog__filter-mobile-nav span:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 35%;
  right: 0;
  width: 5px;
  height: 5px;
  border: 2px solid #747882;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.catalog__filter-mobile .filter__modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  z-index: 99;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: auto;
}

.catalog__filter-mobile .filter__modal .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 50px;
  color: #424242;
}

.catalog__filter-mobile .filter__modal-sort {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.catalog__filter-mobile .filter__modal-sort-wrap {
  margin-top: 40px;
}

.catalog__filter-mobile .filter__modal-links {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.catalog__filter-mobile .filter__modal-links-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__filter-mobile .filter__modal-links-wrap a {
  font-size: 14px;
  color: #424242;
  margin-bottom: 12px;
}

.catalog__wrap {
  margin: 0 -1%;
  margin-top: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  position: relative;
  width: 23%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin: 0 1%;
  margin-bottom: 30px;
}

.catalog__card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.catalog__card-icon .card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  margin-top: 5px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}

.catalog__card-icon .card__icon:first-child {
  margin-top: 0;
}

.catalog__card-icon .card__icon-hit {
  background-color: #ff9fcc;
}

.catalog__card-icon .card__icon-sale {
  background-color: #ffbc9b;
}

.catalog__card-icon .card__icon-new {
  background-color: #00e2ce;
}

.catalog__card-img {
  width: 100%;
  height: 272px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
}

.catalog__card-content {
  background: #fff;
  padding: 20px 25px 24px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.catalog__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  font-size: 14px;
  font-weight: 400;
  min-height: 35px;
}

.catalog__card-price {
  margin-top: 20px;
  color: #323232;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.catalog__card-price .old__price {
  padding-left: 14px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.catalog__card-btn {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 65px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
  background: #fff;
  z-index: 99;
}

.catalog__card-btn button {
  cursor: pointer;
  padding: 15px 21px;
  border-radius: 20px;
  background-color: #00e2ce;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}

.catalog__card:hover {
  -webkit-box-shadow: 0 5px 20px rgba(49, 52, 56, 0.05);
          box-shadow: 0 5px 20px rgba(49, 52, 56, 0.05);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.catalog__card:hover .catalog__card-head {
  text-decoration: underline;
}

.catalog__card:hover .catalog__card-btn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
}

.catalog__info {
  margin-top: 112px;
  margin-bottom: 100px;
}

.catalog__info-head {
  margin-bottom: 30px;
  color: #424242;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.catalog__info-text p {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.catalog__similar {
  margin-bottom: 164px;
}

.filter__active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.tovar {
  margin-top: 51px;
  margin-bottom: 112px;
}

.tovar__head {
  color: #525252;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  font-family: 'Lora', sans-serif;
  margin-bottom: 40px;
}

.tovar__img {
  width: 50%;
  height: 562px;
  background-size: cover !important;
}

.tovar__content {
  width: 50%;
  padding-left: 49px;
}

.tovar__content-wrap {
  padding: 30px 40px;
  background: #fff;
}

.tovar__content-price {
  color: #424242;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.tovar__content-price span {
  margin-left: 20px;
  color: #ff9fcc;
  font-size: 20px;
  font-weight: 400;
  text-decoration: line-through;
}

.tovar__content-composition {
  margin-top: 31px;
}

.tovar__content-composition .composition-head {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.tovar__content-composition .composition-text {
  margin-top: 14px;
  max-width: 360px;
}

.tovar__content-composition .composition-text p {
  line-height: 30px;
  color: #626262;
  font-size: 13px;
  font-weight: 400;
}

.tovar__content-composition .composition-warning {
  margin-top: 37px;
  color: #626262;
  font-size: 11px;
  font-weight: 400;
  padding: 20px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #ebfffd;
}

.tovar__content-calc {
  margin-top: 10px;
  background: #fff;
  padding: 40px;
  position: relative;
  padding-bottom: 70px;
}

.tovar__content-calc .calc__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.tovar__content-calc .calc__quantity {
  margin: 0 -5px;
  margin-bottom: 22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tovar__content-calc .calc__quantity-block {
  margin: 2.5px;
  margin-bottom: 5px;
}

.tovar__content-calc .calc__quantity-block input {
  display: none;
}

.tovar__content-calc .calc__quantity-block input:checked + label {
  color: #fff;
  background-color: #ff9fcc !important;
}

.tovar__content-calc .calc__quantity-block input:checked + label span {
  color: #fff;
}

.tovar__content-calc .calc__quantity-block label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 60px;
  color: #424242;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #ff9fcc;
  cursor: pointer;
}

.tovar__content-calc .calc__quantity-block label span {
  margin-top: 5px;
  color: #828282;
  font-size: 12px;
  font-weight: 400;
}

.tovar__content-calc .calc__quantity-block label:hover {
  background-color: #ffeff7;
}

.tovar__content-calc .calc__total-input {
  border-radius: 3px;
  border: 1px solid #ff9fcc;
  background-color: #ffffff;
  width: 83px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tovar__content-calc .calc__total-input input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  width: 50%;
  text-align: center;
  border: none;
}

.tovar__content-calc .calc__total-input input::-webkit-input-placeholder {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.tovar__content-calc .calc__total-input input:-ms-input-placeholder {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.tovar__content-calc .calc__total-input input::-ms-input-placeholder {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.tovar__content-calc .calc__total-input input::placeholder {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.tovar__content-calc .calc__total-input span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  margin: 0 !important;
  color: #ff9fcc !important;
  font-size: 26px !important;
  font-weight: 400;
}

.tovar__content-calc .calc__total span {
  margin-left: 10px;
  margin-right: 16px;
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.tovar__content-calc .calc__total-sum {
  color: #ff80bc;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Lora', sans-serif;
}

.tovar__content-calc-buy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -20%;
  width: calc(100% - 80px);
}

.tovar__content-calc-buy button {
  padding: 24px 150px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
          box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
  border-radius: 30px;
  background-color: #00e2ce;
  border: none;
}

.tovar__content-calc-buy a {
  margin-top: 15px;
  color: #424242;
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.category {
  margin-bottom: 44px;
}

.category__wrap {
  margin: 0 -0.5%;
  margin-top: 47px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__card {
  position: relative;
  width: 19%;
  height: 350px;
  border-radius: 10px;
  margin: 0 0.5%;
  margin-bottom: 20px;
}

.category__card-content {
  position: relative;
  padding: 20px 9px 11px;
  text-align: center;
  background: #fff;
  border-radius: 10px 10px 0 0;
}

.category__card-content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
}

.category__card-head {
  color: #525252;
  font-size: 18px;
  font-family: 'Lora', sans-serif;
}

.category__card-total {
  margin-top: 13px;
  color: #ff9fcc;
  font-size: 14px;
  font-weight: 500;
}

.category__card-img {
  width: 100%;
  height: 264px;
  border-radius: 0 0 10px 10px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.category__card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
}

.category__card-back:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00e2ce;
  opacity: 0.5;
  border-radius: 10px;
}

.category__card-back-head {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-family: 'Lora', sans-serif;
}

.category__card-back-btn {
  margin-top: 30px;
}

.category__card-back-btn a {
  position: relative;
  -webkit-box-shadow: 0 10px 20px rgba(83, 52, 66, 0.2);
          box-shadow: 0 10px 20px rgba(83, 52, 66, 0.2);
  border-radius: 21px;
  background-color: #ff9fcc;
  padding: 15px 21px;
  padding-right: 38px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.category__card-back-btn a:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 22px;
  background: url(../img/icon/arrow-icon.png);
}

.category__card-back-btn a:hover {
  background-color: #FFBCD9;
}

.category__card:hover .category__card-head {
  opacity: 0;
}

.category__card:hover .category__card-total {
  opacity: 0;
}

.category__card:hover .category__card-content:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
  background: transparent;
}

.category__card:hover .category__card-back {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .8s opacity, .8s visibility;
  transition: .8s opacity, .8s visibility;
}

.info {
  margin-top: 79px;
  margin-bottom: 159px;
}

.info__content {
  margin-left: 41px;
  padding-top: 17px;
}

.info__content h3 {
  color: #424242;
  font-size: 30px;
  margin-bottom: 29px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.info__content p {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.banner {
  margin-top: 20px;
  height: 120px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat !important;
  border-radius: 3px;
}

.banner__content {
  width: 65%;
  text-align: center;
}

.banner__head {
  position: relative;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.banner__head:before {
  content: '';
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.banner__descr {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__info {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffbc9b), color-stop(50%, #ff9fcc), to(#00e2ce));
  background-image: linear-gradient(to right, #ffbc9b 0%, #ff9fcc 50%, #00e2ce 100%);
  padding: 13px 0;
}

.footer__info-text {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  font-family: 'Lora', sans-serif;
}

.footer__content {
  position: relative;
  background: #fff;
}

.footer__content:before {
  content: '';
  display: none;
  position: absolute;
  width: 236px;
  height: 100%;
  top: 0;
  left: 62px;
  background: url(../img/footer-big-1.png) no-repeat;
  background-size: cover;
}

.footer__content:after {
  content: '';
  display: none;
  position: absolute;
  width: 202px;
  height: 283px;
  bottom: 0;
  right: 60px;
  background: url(../img/footer-big-2.png) no-repeat;
  background-size: cover;
}

.footer__content-wrap {
  padding: 48px 0;
  position: relative;
}

.footer__content-wrap:before {
  content: '';
  position: absolute;
  width: 160px;
  height: 146px;
  bottom: 0;
  right: 219px;
  background: url(../img/footer-bg-small.png);
}

.footer__content h4 {
  color: #747882;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  margin-bottom: 22px;
}

.footer__content span {
  color: #747882;
  font-size: 13px;
  font-weight: 400;
}

.footer__content-nav-wrap nav {
  margin-left: 68px;
}

.footer__content-nav-wrap nav:first-child {
  margin-left: 0;
}

.footer__content-nav-wrap nav li {
  margin-top: 10px;
}

.footer__content-nav-wrap nav li:first-child {
  margin-top: 0;
}

.footer__content-nav-wrap nav li a {
  color: #828282;
  font-size: 13px;
  font-weight: 400;
}

.footer__content-nav-wrap nav li a:hover {
  color: #00e2ce;
}

.footer__content-phone-block {
  margin-top: 20px;
}

.footer__content-phone-block:first-child {
  margin-top: 0;
}

.footer__content-phone-block span small {
  font-size: 13px;
}

.footer__content-phone-block span small:nth-child(1) {
  color: #4ea30f;
}

.footer__content-phone-block span small:nth-child(2) {
  color: #8e5bcc;
}

.footer__content-phone-block a {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}

.footer__content-adress-block {
  margin-top: 23px;
}

.footer__content-adress-block:first-child {
  margin-top: 0;
}

.footer__content-adress-block strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.footer__bottom {
  padding: 20px 0;
}

.footer__bottom span {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
}

.footer__bottom-agreement a {
  text-decoration: underline;
}

.footer__bottom-dev {
  position: relative;
  padding-right: 111px;
}

.footer__bottom-dev-logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 108px;
  height: 16px;
  background: url(../img/dev.png);
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 15px;
  }
  .head h2 {
    font-size: 24px;
  }
  .header {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
            box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
  }
  .header__logo {
    color: #7f848f;
    font-size: 13px;
    font-weight: 400;
    padding-right: 0;
  }
  .header__adress {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__basket {
    display: none;
  }
  .header__bottom {
    display: none;
    border-top: 1px solid #f2f4f9;
  }
  .header-mobile {
    display: block;
  }
  .breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .breadcrumb__wrap {
    margin: 0 -10px;
  }
  .breadcrumb ul li {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .pagination ul li:first-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li:last-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li span {
    position: relative;
    padding-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main {
    margin-top: 42px;
    margin-bottom: 20px;
  }
  .main__slider .slick-dots {
    bottom: 10px;
  }
  .main__slider .slick-dots li {
    width: 25px;
    height: 5px;
  }
  .catalog {
    margin-bottom: 46px;
  }
  .catalog__filter {
    margin-top: 24px;
  }
  .catalog__filter-links {
    margin: 0 -5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__filter-links a {
    margin: 5px;
    margin-bottom: 5px;
    height: auto;
    padding: 11px 13px;
    background-color: #ffffff;
    border-radius: 18px;
    color: #626262;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .catalog__filter-links .filter__active {
    -webkit-box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
            box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
    background-color: #00e2ce;
    color: #fff;
  }
  .catalog__filter-bottom {
    margin-top: 35px;
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter-sort {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__filter-sort-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .catalog__filter-sort-top .catalog__filter-sort-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
  .catalog__filter-wrap {
    display: none;
  }
  .catalog__filter-mobile {
    display: block;
  }
  .catalog__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .catalog__card {
    width: 48%;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .catalog__card-icon .card__icon {
    width: 22px;
    height: 22px;
    font-size: 7px;
  }
  .catalog__card-img {
    height: 180px;
  }
  .catalog__card-content {
    padding: 10px;
    padding-bottom: 20px;
  }
  .catalog__card-head {
    font-size: 12px;
    min-height: 65px;
  }
  .catalog__card-price {
    font-size: 16px;
  }
  .catalog__card-price .old__price {
    font-size: 12px;
  }
  .catalog__card:hover .catalog__card-btn {
    opacity: 0;
    visibility: hidden;
  }
  .catalog__info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .catalog__info-head {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .catalog__info-text p {
    line-height: 24px;
  }
  .tovar {
    margin-top: 40px;
    margin-bottom: 112px;
  }
  .tovar__head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .tovar__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tovar__img {
    width: 100%;
    height: 300px;
  }
  .tovar__content {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .tovar__content-wrap {
    padding: 15px;
    background: #fff;
  }
  .tovar__content-price {
    font-size: 26px;
  }
  .tovar__content-price span {
    font-size: 18px;
  }
  .tovar__content-composition {
    margin-top: 20px;
  }
  .tovar__content-composition .composition-head {
    font-size: 16px;
  }
  .tovar__content-calc {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    position: relative;
    padding-bottom: 70px;
  }
  .tovar__content-calc .calc__total-input {
    border-radius: 3px;
    border: 1px solid #ff9fcc;
    background-color: #ffffff;
    width: 63px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tovar__content-calc .calc__total-input input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    border: none;
  }
  .tovar__content-calc .calc__total-input input::-webkit-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input:-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    margin: 0 !important;
    color: #ff9fcc !important;
    font-size: 26px !important;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total span {
    margin-left: 10px;
    margin-right: 10px;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .tovar__content-calc .calc__total-sum {
    color: #ff80bc;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lora', sans-serif;
  }
  .tovar__content-calc-buy {
    bottom: -17%;
    width: calc(100% - 30px);
  }
  .tovar__content-calc-buy button {
    padding: 20px 0;
    width: 100%;
  }
  .tovar__content-calc-buy a {
    margin-top: 10px;
  }
  .category {
    margin-bottom: 44px;
  }
  .category__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .category__card {
    width: 48%;
    margin: 0 1%;
    height: auto;
    margin-bottom: 20px;
  }
  .category__card-head {
    min-height: 50px;
  }
  .category__card-img {
    height: 200px;
  }
  .info {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info img {
    height: 180px;
  }
  .info__content {
    margin-left: 0;
    padding-top: 15px;
  }
  .info__content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .banner {
    height: auto;
    padding: 15px;
    text-align: center;
    background-image: none !important;
  }
  .banner__content {
    width: 100%;
    text-align: center;
  }
  .banner__head {
    font-size: 24px;
  }
  .banner__descr {
    font-size: 12px;
  }
  .footer__info-text {
    font-size: 16px;
  }
  .footer__content-wrap {
    padding: 30px 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content-wrap:before {
    display: none;
  }
  .footer__content h4 {
    margin-bottom: 15px;
  }
  .footer__content-nav {
    margin-top: 15px;
  }
  .footer__content-nav h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__content-nav h4 span:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 8%;
    right: 0;
    width: 7px;
    height: 7px;
    border: 2px solid #747882;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__content-nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .footer__content-nav-wrap nav {
    margin-left: 0;
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap nav li {
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav li:first-child {
    margin-top: 0;
  }
  .footer__content-phone {
    margin-top: 15px;
  }
  .footer__content-adress {
    margin-top: 15px;
  }
  .footer__head-active h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__head-active h4 span:before {
    top: 35%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__nav-active {
    display: block;
  }
  .footer__bottom {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__bottom span {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }
  .footer__bottom-agreement {
    margin-bottom: 10px;
  }
  .footer__bottom-dev {
    width: 67%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: 426px) and (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
  .head h2 {
    font-size: 24px;
  }
  .header {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
            box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
  }
  .header__logo {
    color: #7f848f;
    font-size: 13px;
    font-weight: 400;
    padding-right: 0;
  }
  .header__adress {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__basket {
    display: none;
  }
  .header__bottom {
    display: none;
    border-top: 1px solid #f2f4f9;
  }
  .header-mobile {
    display: block;
  }
  .breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .breadcrumb__wrap {
    margin: 0 -10px;
  }
  .breadcrumb ul li {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .pagination ul li:first-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li:last-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li span {
    position: relative;
    padding-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main {
    margin-top: 42px;
    margin-bottom: 20px;
  }
  .catalog {
    margin-bottom: 46px;
  }
  .catalog__filter {
    margin-top: 24px;
  }
  .catalog__filter-links {
    margin: 0 -5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__filter-links a {
    margin: 5px;
    margin-bottom: 5px;
    height: auto;
    padding: 11px 13px;
    background-color: #ffffff;
    border-radius: 18px;
    color: #626262;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .catalog__filter-links .filter__active {
    -webkit-box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
            box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
    background-color: #00e2ce;
    color: #fff;
  }
  .catalog__filter-bottom {
    margin-top: 35px;
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter-sort {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__filter-sort-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .catalog__filter-sort-top .catalog__filter-sort-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
  .catalog__filter-wrap {
    display: none;
  }
  .catalog__filter-mobile {
    display: block;
  }
  .catalog__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .catalog__card {
    width: 48%;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .catalog__card-icon .card__icon {
    width: 22px;
    height: 22px;
    font-size: 7px;
  }
  .catalog__card-head {
    min-height: 50px;
  }
  .catalog__card:hover .catalog__card-btn {
    opacity: 0;
    visibility: hidden;
  }
  .catalog__info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .catalog__info-head {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .catalog__info-text p {
    line-height: 24px;
  }
  .tovar {
    margin-top: 40px;
    margin-bottom: 112px;
  }
  .tovar__head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .tovar__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tovar__img {
    width: 100%;
    height: 300px;
  }
  .tovar__content {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .tovar__content-wrap {
    padding: 15px;
    background: #fff;
  }
  .tovar__content-price {
    font-size: 26px;
  }
  .tovar__content-price span {
    font-size: 18px;
  }
  .tovar__content-composition {
    margin-top: 20px;
  }
  .tovar__content-composition .composition-head {
    font-size: 16px;
  }
  .tovar__content-calc {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    position: relative;
    padding-bottom: 70px;
  }
  .tovar__content-calc .calc__total-input {
    border-radius: 3px;
    border: 1px solid #ff9fcc;
    background-color: #ffffff;
    width: 63px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tovar__content-calc .calc__total-input input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    border: none;
  }
  .tovar__content-calc .calc__total-input input::-webkit-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input:-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    margin: 0 !important;
    color: #ff9fcc !important;
    font-size: 26px !important;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total span {
    margin-left: 10px;
    margin-right: 10px;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .tovar__content-calc .calc__total-sum {
    color: #ff80bc;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lora', sans-serif;
  }
  .tovar__content-calc-buy {
    bottom: -17%;
    width: calc(100% - 30px);
  }
  .tovar__content-calc-buy button {
    padding: 20px 0;
    width: 100%;
  }
  .tovar__content-calc-buy a {
    margin-top: 10px;
  }
  .category {
    margin-bottom: 44px;
  }
  .category__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .category__card {
    width: 48%;
    margin: 0 1%;
    height: auto;
    margin-bottom: 20px;
  }
  .category__card-img {
    height: 200px;
  }
  .info {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__content {
    margin-left: 0;
    padding-top: 15px;
  }
  .info__content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .banner {
    height: auto;
    padding: 15px;
    text-align: center;
    background-image: none !important;
  }
  .banner__content {
    width: 100%;
    text-align: center;
  }
  .banner__head {
    font-size: 24px;
  }
  .banner__descr {
    font-size: 12px;
  }
  .footer__info-text {
    font-size: 16px;
  }
  .footer__content-wrap {
    padding: 30px 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content-wrap:before {
    display: none;
  }
  .footer__content h4 {
    margin-bottom: 15px;
  }
  .footer__content-nav {
    margin-top: 15px;
  }
  .footer__content-nav h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__content-nav h4 span:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 8%;
    right: 0;
    width: 7px;
    height: 7px;
    border: 2px solid #747882;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__content-nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .footer__content-nav-wrap nav {
    margin-left: 0;
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap nav li {
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav li:first-child {
    margin-top: 0;
  }
  .footer__content-phone {
    margin-top: 15px;
  }
  .footer__content-adress {
    margin-top: 15px;
  }
  .footer__head-active h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__head-active h4 span:before {
    top: 35%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__nav-active {
    display: block;
  }
  .footer__bottom {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__bottom span {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }
  .footer__bottom-agreement {
    margin-bottom: 10px;
  }
  .footer__bottom-dev {
    width: 67%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .head h2 {
    font-size: 24px;
  }
  .header {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
            box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
  }
  .header__logo {
    color: #7f848f;
    font-size: 13px;
    font-weight: 400;
    padding-right: 0;
  }
  .header__adress {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__basket {
    display: none;
  }
  .header__bottom {
    display: none;
    border-top: 1px solid #f2f4f9;
  }
  .header-mobile {
    display: block;
  }
  .header .mobile-nav {
    width: 50%;
  }
  .breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .breadcrumb__wrap {
    margin: 0 -10px;
  }
  .breadcrumb ul li {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .pagination ul li:first-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li:last-child span:before {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #424242;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .pagination ul li span {
    position: relative;
    padding-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main {
    margin-top: 42px;
    margin-bottom: 20px;
  }
  .catalog {
    margin-bottom: 46px;
  }
  .catalog__filter {
    margin-top: 24px;
  }
  .catalog__filter-links {
    margin: 0 -5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__filter-links a {
    margin: 5px;
    margin-bottom: 5px;
    height: auto;
    padding: 11px 13px;
    background-color: #ffffff;
    border-radius: 18px;
    color: #626262;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .catalog__filter-links .filter__active {
    -webkit-box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
            box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
    background-color: #00e2ce;
    color: #fff;
  }
  .catalog__filter-bottom {
    margin-top: 35px;
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter-sort {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog__filter-sort-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .catalog__filter-sort-top .catalog__filter-sort-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
  .catalog__filter-wrap {
    display: none;
  }
  .catalog__filter-mobile {
    display: block;
  }
  .catalog__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .catalog__card {
    width: 48%;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .catalog__card-icon .card__icon {
    width: 22px;
    height: 22px;
    font-size: 7px;
  }
  .catalog__card:hover .catalog__card-btn {
    opacity: 0;
    visibility: hidden;
  }
  .catalog__info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .catalog__info-head {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .catalog__info-text p {
    line-height: 24px;
  }
  .tovar {
    margin-top: 40px;
    margin-bottom: 112px;
  }
  .tovar__head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .tovar__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tovar__img {
    width: 100%;
    height: 300px;
  }
  .tovar__content {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .tovar__content-wrap {
    padding: 15px;
    background: #fff;
  }
  .tovar__content-price {
    font-size: 26px;
  }
  .tovar__content-price span {
    font-size: 18px;
  }
  .tovar__content-composition {
    margin-top: 20px;
  }
  .tovar__content-composition .composition-head {
    font-size: 16px;
  }
  .tovar__content-calc {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    position: relative;
    padding-bottom: 70px;
  }
  .tovar__content-calc .calc__total-input {
    border-radius: 3px;
    border: 1px solid #ff9fcc;
    background-color: #ffffff;
    width: 63px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tovar__content-calc .calc__total-input input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    border: none;
  }
  .tovar__content-calc .calc__total-input input::-webkit-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input:-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::-ms-input-placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input input::placeholder {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total-input span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    margin: 0 !important;
    color: #ff9fcc !important;
    font-size: 26px !important;
    font-weight: 400;
  }
  .tovar__content-calc .calc__total span {
    margin-left: 10px;
    margin-right: 10px;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .tovar__content-calc .calc__total-sum {
    color: #ff80bc;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lora', sans-serif;
  }
  .tovar__content-calc-buy {
    bottom: -17%;
    width: calc(100% - 30px);
  }
  .tovar__content-calc-buy button {
    padding: 20px 0;
    width: 100%;
  }
  .tovar__content-calc-buy a {
    margin-top: 10px;
  }
  .category {
    margin-bottom: 44px;
  }
  .category__wrap {
    margin: 0 -1%;
    margin-top: 20px;
  }
  .category__card {
    width: 48%;
    margin: 0 1%;
    height: auto;
    margin-bottom: 20px;
  }
  .info {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__content {
    margin-left: 0;
    padding-top: 15px;
  }
  .info__content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .banner {
    height: auto;
    padding: 15px;
    text-align: center;
    background-image: none !important;
  }
  .banner__content {
    width: 100%;
    text-align: center;
  }
  .banner__head {
    font-size: 24px;
  }
  .banner__descr {
    font-size: 12px;
  }
  .footer__info-text {
    font-size: 16px;
  }
  .footer__content-wrap {
    padding: 30px 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content-wrap:before {
    display: none;
  }
  .footer__content h4 {
    margin-bottom: 15px;
  }
  .footer__content-nav {
    margin-top: 15px;
  }
  .footer__content-nav h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__content-nav h4 span:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 8%;
    right: 0;
    width: 7px;
    height: 7px;
    border: 2px solid #747882;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__content-nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .footer__content-nav-wrap nav {
    margin-left: 0;
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav:first-child {
    margin-top: 0;
  }
  .footer__content-nav-wrap nav li {
    margin-top: 10px;
  }
  .footer__content-nav-wrap nav li:first-child {
    margin-top: 0;
  }
  .footer__content-phone {
    margin-top: 15px;
  }
  .footer__content-adress {
    margin-top: 15px;
  }
  .footer__head-active h4 span {
    position: relative;
    padding-right: 20px;
  }
  .footer__head-active h4 span:before {
    top: 35%;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .footer__nav-active {
    display: block;
  }
  .footer__bottom {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__bottom span {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }
  .footer__bottom-agreement {
    margin-bottom: 10px;
  }
  .footer__bottom-dev {
    width: 67%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
  .header {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
            box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
  }
  .header__logo {
    color: #7f848f;
    font-size: 13px;
    font-weight: 400;
    padding-right: 0;
  }
  .header__adress {
    display: none;
    padding-left: 22px;
    position: relative;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    min-width: 170px;
  }
  .header__adress:before {
    content: '';
    position: absolute;
    width: 11px;
    height: 16px;
    bottom: 0;
    left: 0;
    background: url(../img/icon/adress-icon.svg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .header__phone a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 6px;
    color: #424242;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Lora', sans-serif;
  }
  .header__phone span {
    color: #828282;
    font-size: 11px;
    font-weight: 400;
  }
  .header__phone-top {
    text-align: right;
    font-size: 11px;
  }
  .header__phone-messager {
    color: #828282;
  }
  .header__phone-messager span {
    color: #519523;
    font-size: 11px;
    font-weight: 400;
  }
  .header__phone-messager span:first-child {
    color: #7451e6;
  }
  .header__phone-icon a {
    position: relative;
    padding-left: 26px;
  }
  .header__phone-icon a:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background: url(../img/icon/phone-icon.svg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .header__basket {
    display: none;
    min-width: 140px;
    margin-left: 41px;
  }
  .header__basket-tovar {
    position: relative;
    width: 49px;
    height: 31px;
  }
  .header__basket-tovar:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 31px;
    top: 0px;
    background: url(../img/basket.png);
  }
  .header__basket-tovar span {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    background-color: #f2f4f9;
  }
  .header__basket-total {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }
  .header__bottom {
    display: none;
    margin-top: 19px;
    padding: 5px 0;
    border-top: 1px solid #f2f4f9;
  }
  .header__nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-left: 70px;
  }
  .header__nav li:first-child {
    margin-left: 0;
  }
  .header__nav li a {
    color: #424242;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .header__nav li a:hover {
    color: #00e2ce;
  }
  .header__nav .submenu-standart {
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
    background: white;
    padding: 25px 0;
    position: absolute;
    top: 220%;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    min-width: 200px;
    padding: 10px 0;
  }
  .header__nav .submenu-standart li {
    margin-left: 0;
  }
  .header__nav .submenu-standart li a {
    text-transform: none;
  }
  .header__nav .submenu-standart li a:hover {
    color: #00e2ce;
  }
  .header__nav .dropdown-standart {
    position: relative;
  }
  .header__nav li:hover .submenu-standart {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .header__nav .submenu-standart li {
    padding: 0 18px;
  }
  .header__nav .submenu-standart li a {
    display: block;
    padding: 10px 0;
    color: #666;
    font-size: 13px;
  }
  .header__search {
    width: 354px;
  }
  .header__search-wrap {
    position: relative;
    border-radius: 20px;
    border: 1px solid #dcdde2;
    background-color: #ffffff;
  }
  .header__search-wrap:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url(../img/icon/search.svg);
  }
  .header__search-wrap input {
    width: 100%;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 14px 50px 14px 20px;
    border-radius: 20px;
    font-family: 'Segoe UI', sans-serif;
  }
  .header__search-wrap input::-webkit-input-placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
  }
  .header__search-wrap input:-ms-input-placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
  }
  .header__search-wrap input::-ms-input-placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
  }
  .header__search-wrap input::placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 400;
  }
  .header-mobile {
    display: block;
  }
  .header .mobile-nav {
    width: 40%;
  }
  .catalog {
    margin-bottom: 30px;
  }
  .catalog__filter-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 28px;
  }
  .catalog__filter-sort {
    margin-bottom: 20px;
  }
  .catalog__wrap {
    margin: 0 -1%;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__card {
    width: 31%;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .catalog__card-img {
    height: 200px;
  }
  .catalog__card-head {
    min-height: 55px;
  }
  .tovar {
    margin-top: 30px;
    margin-bottom: 112px;
  }
  .tovar__head {
    color: #525252;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lora', sans-serif;
    margin-bottom: 40px;
  }
  .tovar__img {
    width: 40%;
    height: 300px;
  }
  .tovar__content {
    width: 60%;
    padding-left: 20px;
  }
  .tovar__content-wrap {
    padding: 20px 30px;
    background: #fff;
  }
  .tovar__content-price {
    font-size: 30px;
  }
  .tovar__content-composition {
    margin-top: 25px;
  }
  .tovar__content-calc {
    margin-top: 10px;
    background: #fff;
    padding: 20px 30px;
    position: relative;
    padding-bottom: 70px;
  }
  .tovar__content-calc .calc__total span {
    margin-right: 10px;
    font-size: 15px;
  }
  .tovar__content-calc .calc__total-sum {
    font-size: 22px;
  }
  .tovar__content-calc-buy {
    width: calc(100% - 60px);
  }
  .tovar__content-calc-buy button {
    padding: 24px 0;
    width: 100%;
  }
  .category {
    margin-bottom: 30px;
  }
  .category__wrap {
    margin: 0 -1%;
    margin-top: 47px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .category__card {
    width: 31%;
  }
  .category__card-img {
    height: 264px;
  }
  .banner {
    height: auto !important;
    padding: 15px;
    background-image: none !important;
  }
  .banner__content {
    width: 100%;
    text-align: center;
  }
  .banner__head {
    font-size: 28px;
  }
  .banner__descr {
    font-size: 14px;
  }
  .info {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .info__wrap {
    display: block;
  }
  .info img {
    float: left;
    width: 250px;
    height: 140px;
    padding: 0 15px 15px 0;
  }
  .info__content {
    margin-left: 0;
    padding-top: 0;
  }
  .info__content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .footer__content-wrap {
    padding: 48px 0;
    position: relative;
  }
  .footer__content-wrap:before {
    display: none;
  }
  .footer__content h4 {
    color: #747882;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    margin-bottom: 22px;
  }
  .footer__content span {
    color: #747882;
    font-size: 13px;
    font-weight: 400;
  }
  .footer__content-bignav {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .header {
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
            box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
  }
  .header__logo {
    color: #7f848f;
    font-size: 13px;
    font-weight: 400;
    padding-right: 0;
  }
  .header__adress {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__basket {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .header .mobile-nav {
    width: 30%;
  }
  .category__wrap {
    margin: 0 1%;
  }
  .category__card {
    width: 23%;
    margin: 0 1%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1900px) {
  .footer__content:before, .footer__content:after {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */