@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@mixin monts {
    font-family: 'Montserrat', sans-serif;
}
@mixin lora {
    font-family: 'Lora', sans-serif;
}
@mixin segoe {
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f2f4f9;
    @include monts();
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.flex-row {
    flex-wrap: wrap;
}
.justify-space {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.direction-column {
    flex-direction: column;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
ul {
    list-style: none;
}
a, input {
    &:focus {
        outline: none;
    }
}
h2, h3, h4 {
    padding: 0;
    margin: 0;
}
.head {
    display: flex;
    justify-content: center;
    h2 {        
        padding: 17px 26px 17px 18px;
        background: url(../img/head-wrap.png) no-repeat;
        background-size: contain;
        color: #525252;
        font-size: 36px;
        font-weight: 400;
        @include lora();
    }
}

.header {
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
    &__top {
        &-wrap {
            width: 100%;
        }
    }
    &__logo {
        color: #7f848f;
        font-size: 13px;
        font-weight: 400;
        padding-right: 132px;
    }
    &__adress {
        padding-left: 22px;
        position: relative;
        color: #424242;
        font-size: 12px;
        font-weight: 400;
        min-width: 170px;
        &:before {
            content: '';
            position: absolute;
            width: 11px;
            height: 16px;
            bottom: 0;
            left: 0;
            background: url(../img/icon/adress-icon.svg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__phone {
        display: flex;
        flex-direction: column;   
        a {
            display: flex;
            justify-content: flex-end;
            margin-top: 6px;
            color: #424242;
            font-size: 22px;
            font-weight: 400;
            @include lora();
        }
        span {
            color: #828282;
            font-size: 11px;
            font-weight: 400;
        }        
        &-top {
            text-align: right;
            font-size: 11px;
        }
        &-messager {
            color: #828282;
            span {
                color: #519523;
                font-size: 11px;
                font-weight: 400;
                &:first-child {
                    color: #7451e6;
                }
            }
        }  
        &-icon {
            a {
                position: relative;
                padding-left: 26px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    background: url(../img/icon/phone-icon.svg) no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
    }
    &__basket {
        min-width: 140px;
        margin-left: 41px;
        &-tovar {
            position: relative;
            width: 49px;
            height: 31px;
            &:before {
                content: '';
                position: absolute;
                width: 25px;
                height: 31px;
                top: 0px;
                background: url(../img/basket.png);
            }
            span {
                position: absolute;
                width: 31px;
                height: 31px;
                top: 0;
                right: 0;
                border-radius: 50%;
                color: #424242;
                font-size: 14px;
                font-weight: 400;
                background-color: #f2f4f9;
            }
        }
        &-total {
            color: #424242;
            font-size: 14px;
            font-weight: 400;
            margin-left: 8px;
        }
    }
    &__bottom {
        margin-top: 19px;
        padding: 5px 0;
        border-top: 1px solid #f2f4f9;
    }
    &__nav {
        li {
            display: flex;
            height: 100%;
            &:first-child {
                margin-left: 0;
            }
            margin-left: 70px;
            a {
                color: #424242;
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                &:hover {
                    color: #00e2ce;
                }
            }
        }
        .dropdown-standart {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                top: 25%;
                transform: translateY(-50%) rotate(-45deg);
                right: -25px;
                border: 2px solid #d7d7db;
                border-top: none;
                border-right: none;
                transition: 0.8s;
            }            
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 20px;
                bottom: -22px;
                left: 0;
            }
        }
        .submenu-standart {
            border-top: 1px solid #e5e5e5;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
            background: white;
            padding: 25px 0;
            position: absolute;
            top: 220%;
            left: 0;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0,30px,0);
            transition: .5s ease-out;
            transform-origin: 0% 0%;
            min-width: 200px;
            padding: 10px 0;
            li {
                margin-left: 0;
                a {
                    text-transform: none;
                    &:hover {
                        color: #00e2ce;
                    }
                }
            }
        }
        .dropdown-standart {position: relative;}
        li:hover .submenu-standart {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0,0,0);
        }
        .submenu-standart li {padding: 0 18px;}
        .submenu-standart li a {
            display: block;
            padding: 10px 0;
            color: #666;
            font-size: 13px;
        }

    }
    &__search {
        width: 354px;
        &-wrap {
            position: relative;
            border-radius: 20px;
            border: 1px solid #dcdde2;
            background-color: #ffffff;
            &:before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                background: url(../img/icon/search.svg);
            }
            input {
                width: 100%;
                color: #bbbbbb;
                font-size: 14px;
                font-weight: 400;
                border: none;                
                padding: 14px 50px 14px 20px;
                border-radius: 20px;
                @include segoe();
                &::placeholder {
                    color: #bbbbbb;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    &-mobile {
        position: relative;
        display: none;
        position: absolute;
        width: 20px;
        right: 15px;
        top: 20px;
        transform: translateY(-50%);
        min-height: 14px;
        margin-top: 12px;
        span {
            position: absolute;
            display: block;
            width: 21px;
            height: 3px;
            top: 50%;
            left: 11px;
            background-color: #424242;
            transform: translateX(-50%) translateY(-50%);
            &:before {
                content: '';
                position: absolute;
                width: 21px;
                height: 3px;
                top: 6px;
                left: 50%;
                background-color: #424242;
                transform: translateX(-50%);
            }
            &:after {
                content: '';
                position: absolute;
                width: 21px;
                height: 3px;
                top: -6px;
                left: 50%;
                background-color: #424242;
                transform: translateX(-50%);
            }
        }
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 8px;
        background-color: #fff;
        z-index: 99;
        -webkit-transition: 0.8s;
        transition: 0.8s;
        transform: translateX(100%);
        overflow: auto;
        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 50px;
            color: #424242;
        }
        .close-btn:hover, .mobile-nav .close-btn:focus {
            text-decoration: none;
        }
        .header {
            &__nav {
                margin-top: 40px;
                ul {
                    flex-direction: column;
                }
                &-toggle {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: 25%;
                        transform: translateY(-50%) rotate(-45deg);
                        right: 0;
                        border: 2px solid #d7d7db;
                        border-top: none;
                        border-right: none;
                        transition: 0.8s;
                    }    
                }
                li {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 100%;
                    margin-left: 0;
                    margin-bottom: 15px;                
                    a {
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                        &:hover {
                            color: #00e2ce;
                        }
                    }
                    input[type="checkbox"] {
                        display: none;
                    }
                    label {
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        top: 0;
                        left: 0;
                    }
                    ul {
                        margin-top: 10px;
                        margin-left: 10px;
                        display: none;
                        li {
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                text-transform: none;
                            }
                        }
                    }
                    input[type="checkbox"]:checked ~ ul {
                        display: block;
                    }
                }
            }
            &__search {
                width: 100%;
                margin-top: 30px;
            }
            &__top {
                flex-direction: column;
            }
            &__adress {
                display: block;
                margin-top: 20px;
            }
            &__phone {
                display: flex;
                flex-direction: column; 
                justify-content: flex-start;
                margin-top: 20px; 
                a {
                    font-size: 14px;
                    justify-content: flex-start;
                }        
                &-top {
                    text-align: left;
                    font-size: 11px;
                }
                &-messager {
                    color: #fff;
                    span {
                        color: #519523;
                        &:first-child {
                            color: #7451e6;
                        }
                    }
                }  
                &-icon {
                    a {
                        padding-left: 0;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            &__basket {
                display: flex;
                min-width: 130px;
                max-width: 130px;
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}
.mobile-active {
    transform: translateX(0%) !important;
}
// хлебные крошки
.breadcrumb {
    margin-top: 45px;
    margin-bottom: 27px;
    &__wrap {
        margin: 0 -15px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;    
        li {
            color: #828282;
            font-size: 12px;
            font-weight: 400;
            padding: 0 15px;
            @include lora();
            &:first-child {
                margin-left: 0;
            }
            a {
                color: #626262;
            }
            span {
                font-style: italic;
            }
        }
    }
}
// пагинация
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    ul {
        display: flex;
        li {
            &:first-child {
                margin-right: 20px;
                span {
                    &:before {
                        content: 'предыдущая';
                    }
                }
            }
            &:last-child {
                margin-left: 20px;
                span {
                    &:before {
                        content: 'следующая';
                    }
                }
            }
            span {
                color: #424242;
                font-size: 13px;
                font-weight: 400;
            }
            a {
                color: #424242;
                font-size: 13px;
                font-weight: 500;
                border: 1px solid transparent;
                border-radius: 18px;
                margin-left: 10px;
            }
            &:nth-child(2) a {
                margin-left: 0;
            }
        }
        li.pagination__active a{            
            padding: 11px 15px;
            border-color: #ff9fcc;
            color: #ff9fcc;
            background: #fff;
            font-weight: 500; 
        }
    }
}

// слайдер на главной
.main {
    margin-top: 42px;
    margin-bottom: 28px;
    &__slider {
        position: relative;
        .slick-dots {
            display: flex;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            li {
                width: 33px;
                height: 7px;
                margin-left: 7px;
                border-radius: 3px;
                border: 2px solid #ffffff;
                cursor: pointer;
                &:first-child {
                    margin-left: 0;
                }
                button {
                    display: none;
                }
            }
            .slick-active {
                background-color: #fff;
            }
        }
        &-slide {
            img {
                width: 100%;
                max-height: 445px;
            }
            &:focus {
                outline: none;
            }
        } 
    }
}
// каталог
.catalog {
    margin-bottom: 46px;
    &__filter {
        margin-top: 24px;
        &-links {
            margin: 0 -5px;
            flex-wrap: wrap;
            a {
                margin: 5px;
                margin-bottom: 5px;
                height: auto;
                padding: 11px 13px;
                background-color: #ffffff;
                border-radius: 18px;
                color: #626262;
                font-size: 12px;
                font-weight: 400;
                cursor: pointer;
                margin-bottom: 8px;
            }
            .filter__active {
                box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
                background-color: #00e2ce;
                color: #fff;           
            }
        }
        &-bottom {
            margin-top: 35px;
            margin-bottom: 48px;
        }
        &-sort {
            span {
                color: #626262;
                font-size: 13px;
                font-weight: 400;
                margin-right: 12px;
            }
            &-item {
                input {
                    display: none;
                }
                label {                    
                    color: #424242;
                    font-size: 13px;
                    font-weight: 400;
                    border: 1px solid transparent;
                    padding: 7px 11px;
                    border-radius: 18px;
                    cursor: pointer;
                }
                input:checked + label {
                    border-color: #ff9fcc;
                    color: #ff9fcc;
                }
            }
        }
        &-mobile {
            display: none;
            &-nav {
                span {
                    position: relative;
                    color: #424242;
                    font-size: 15px;
                    font-weight: 400;
                    padding-right: 15px;
                    &:before {
                        content: '';
                        display: flex;
                        position: absolute;
                        top: 35%;
                        right: 0;
                        width: 5px;
                        height: 5px;
                        border: 2px solid #747882;
                        border-left: none;
                        border-top: none;
                        transform: rotate(-45deg);
                    }
                }
            }
            .filter__modal {
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                background-color: #fff;
                z-index: 99;
                -webkit-transition: 0.8s;
                transition: 0.8s;
                overflow: auto;
                .close-btn {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    font-size: 50px;
                    color: #424242;
                }
                &-sort {
                    transform: translateX(100%);
                    &-wrap {
                        margin-top: 40px;
                    }
                }
                &-links {
                    transform: translateX(-100%);
                    &-wrap {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        a {
                            font-size: 14px;
                            color: #424242;
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
    &__wrap {
        margin: 0 -1%;
        margin-top: 45px;
        flex-wrap: wrap;
    }
    &__card {
        position: relative;
        width: 23%;
        transition: 0.8s;
        margin: 0 1%;
        margin-bottom: 30px;
        &-icon {
            position: absolute;
            top: 10px;
            left: 10px;
            .card__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                margin-top: 5px;
                border-radius: 50%;
                color: #ffffff;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
                @include lora();
                &:first-child {
                    margin-top: 0;
                }
                &-hit {
                    background-color: #ff9fcc;
                }
                &-sale {
                    background-color: #ffbc9b;
                }
                &-new {
                    background-color: #00e2ce;
                }
            }
        }
        &-img {
            width: 100%;
            height: 272px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center center;
        } 
        &-content {
            background: #fff;
            padding: 20px 25px 24px;
            text-align: center;
            border-radius: 0 0 10px 10px;
        }
        &-head {
            display: flex;
            color: #525252;
            font-size: 14px;
            font-weight: 400;
            min-height: 35px;
        }
        &-price {
            margin-top: 20px;
            color: #323232;
            font-size: 20px;
            font-weight: 400;
            @include lora();
            .old__price {
                padding-left: 14px;
                color: #999999;
                font-size: 16px;
                font-weight: 400;
                text-decoration: line-through;
            }
        }
        &-btn {
            position: absolute;
            bottom: -50px;
            width: 100%;
            height: 65px;
            text-align: center;
            border-radius: 0 0 10px 10px;
            opacity: 0;
            visibility: hidden;
            transition: .8s opacity, .8s visibility;
            background: #fff;
            z-index: 99;
            button {                
                cursor: pointer;
                padding: 15px 21px;
                border-radius: 20px;
                background-color: #00e2ce;
                color: #ffffff;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                border: none;
            }
        } 
        &:hover {
            box-shadow: 0 5px 20px rgba(49, 52, 56, 0.05);
            transition: 0.8s;
            .catalog__card-head {
                text-decoration: underline;
            }
            .catalog__card-btn {
                opacity: 1;
                visibility: visible;                
                transition: .8s opacity, .8s visibility;
            }
        }
    }
    &__info {
        margin-top: 112px;
        margin-bottom: 100px;
        &-head {
            margin-bottom: 30px;
            color: #424242;
            font-size: 30px;
            font-weight: 400;
            @include lora();
        }
        &-text {
            p {
                color: #424242;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    &__similar {
        margin-bottom: 164px;
    }
}
.filter__active {
    transform: translateX(0%) !important;
}
// товар
.tovar {
    margin-top: 51px;
    margin-bottom: 112px;
    &__head {
        color: #525252;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        @include lora();
        margin-bottom: 40px;
    }
    &__img {
        width: 50%;
        height: 562px;
        background-size: cover !important;
    }
    &__content {
        width: 50%;
        padding-left: 49px;
        &-wrap {
            padding: 30px 40px;
            background: #fff;
        }
        &-price {
            color: #424242;
            font-size: 36px;
            font-weight: 400;
            @include lora();
            span {
                margin-left: 20px;
                color: #ff9fcc;
                font-size: 20px;
                font-weight: 400;
                text-decoration: line-through;
            }
        }
        &-composition {
            margin-top: 31px;
            .composition {
                &-head {
                    color: #424242;
                    font-size: 18px;
                    font-weight: 400;
                    @include lora();
                }
                &-text {
                    margin-top: 14px;
                    max-width: 360px;
                    p {
                        line-height: 30px;
                        color: #626262;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
                &-warning {
                    margin-top: 37px;
                    color: #626262;
                    font-size: 11px;
                    font-weight: 400;
                    padding: 20px;
                    line-height: 18px;
                    border-radius: 3px;
                    background-color: #ebfffd;
                }
            }
        }
        &-calc {
            margin-top: 10px;
            background: #fff;
            padding: 40px;
            position: relative;
            padding-bottom: 70px;
            .calc {
                &__head {
                    display: flex;
                    margin-bottom: 10px;
                    color: #424242;
                    font-size: 16px;
                    font-weight: 400;
                    @include lora();
                }
                &__quantity {
                    margin: 0 -5px;
                    margin-bottom: 22px;
                    flex-wrap: wrap;
                    &-block {
                        margin: 2.5px;
                        margin-bottom: 5px;
                        input {
                            display: none;
                        }                        
                        input:checked + label {       
                            color: #fff;
                            background-color: #ff9fcc !important;
                            span {
                                color: #fff;
                            }
                        }
                        label {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 80px;
                            height: 60px;
                            color: #424242;
                            font-size: 14px;
                            font-weight: 500;
                            border-radius: 3px;
                            border: 1px solid #ff9fcc;
                            cursor: pointer;
                            span {
                                margin-top: 5px;
                                color: #828282;
                                font-size: 12px;
                                font-weight: 400;
                            }
                            &:hover {                                                     
                                background-color: #ffeff7;
                            }
                        }
                    }
                }
                &__total {
                    &-input {
                        border-radius: 3px;
                        border: 1px solid #ff9fcc;
                        background-color: #ffffff;
                        width: 83px;
                        height: 40px;
                        display: flex;
                        input {
                            display: flex;
                            color: #424242;
                            font-size: 14px;
                            font-weight: 400;
                            width: 50%;
                            text-align: center;
                            border: none;
                            &::placeholder {
                                color: #424242;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 25%;
                            margin: 0 !important;
                            color: #ff9fcc !important;
                            font-size: 26px !important;
                            font-weight: 400;
                        }
                    }
                    span {
                        margin-left: 10px;
                        margin-right: 16px;
                        color: #424242;
                        font-size: 16px;
                        font-weight: 400;
                        user-select: none;
                        cursor: pointer;
                    }
                    &-sum {
                        color: #ff80bc;
                        font-size: 24px;
                        font-weight: 400;
                        font-style: italic;
                        @include lora();
                    }
                }
            }
            &-buy {
                flex-direction: column;
                position: absolute;
                bottom: -20%;
                width: calc(100% - 80px);
                button {
                    padding: 24px 150px;
                    border-radius: 50px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
                    border-radius: 30px;
                    background-color: #00e2ce;
                    border: none;
                }
                a {
                    margin-top: 15px;
                    color: #424242;
                    font-size: 13px;
                    font-weight: 400;
                    text-decoration: underline;
                    text-align: center;
                }
            }
        }
    }
}
// категории
.category {
    margin-bottom: 44px;
    &__wrap {
        margin: 0 -0.5%;
        margin-top: 47px;
        flex-wrap: wrap;
    }
    &__card {
        position: relative;
        width: 19%;
        height: 350px;
        border-radius: 10px;
        margin: 0 0.5%;
        margin-bottom: 20px;
        &-content {
            position: relative;
            padding: 20px 9px 11px;
            text-align: center;
            background: #fff;
            border-radius: 10px 10px 0 0;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                transition: .8s opacity, .8s visibility;
            }
        }
        &-head {
            color: #525252;
            font-size: 18px;
            @include lora();
        }
        &-total {
            margin-top: 13px;
            color: #ff9fcc;
            font-size: 14px;
            font-weight: 500;
        }
        &-img {
            width: 100%;
            height: 264px;
            border-radius: 0 0 10px 10px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center center !important;
        }
        &-back {
            display: flex;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;            
            opacity: 0;
            visibility: hidden;
            transition: .8s opacity, .8s visibility;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;               
                background-color: #00e2ce;
                opacity: 0.5;
                border-radius: 10px;
            }
            &-head {
                position: relative;
                color: #ffffff;
                font-size: 30px;
                text-align: center;                
                font-weight: 500;
                font-style: italic;
                @include lora();
            }
            &-btn {
                margin-top: 30px;
                a {
                    position: relative;
                    box-shadow: 0 10px 20px rgba(83, 52, 66, 0.2);
                    border-radius: 21px;
                    background-color: #ff9fcc;
                    padding: 15px 21px;
                    padding-right: 38px;
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 6px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 22px;
                        background: url(../img/icon/arrow-icon.png);
                    }
                    &:hover {
                        background-color: #FFBCD9;
                    }
                }
            }
        }
        &:hover {
            .category__card {
                &-head {
                    opacity: 0;
                }
                &-total {
                    opacity: 0;
                }
            }
            .category__card-content:before {
                opacity: 1;
                visibility: visible;                
                transition: .8s opacity, .8s visibility;
                background: transparent;
            }   
            .category__card-back {                
                opacity: 1;
                visibility: visible;                
                transition: .8s opacity, .8s visibility;
            }
        }
    }
}

// контент на главной странице
.info {
    margin-top: 79px;
    margin-bottom: 159px;
    &__content {
        margin-left: 41px;
        padding-top: 17px;
        h3 {
            color: #424242;
            font-size: 30px;
            margin-bottom: 29px;
            font-weight: 400;
            @include lora();
        }
        p {
            color: #424242;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

// баннеры
.banner {
    margin-top: 20px;
    height: 120px;
    padding: 0 10px;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat !important;
    border-radius: 3px;
    &__content {
        width: 65%;
        text-align: center;
    }
    &__head {
        position: relative;
        color: #ffffff;
        font-size: 36px;
        font-weight: 400;
        @include lora();
        padding-bottom: 5px;
        margin-bottom: 12px;
        &:before {
            content: '';
            position: absolute;
            width: 70%;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
        }
    }
    &__descr {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.footer {
    &__info {
        background-image: linear-gradient(to right, #ffbc9b 0%, #ff9fcc 50%, #00e2ce 100%);
        padding: 13px 0;
        &-text {
            text-align: center;
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            font-style: italic;
            @include lora();
        }
    }
    &__content {
        position: relative;
        background: #fff;
        &:before {
            content: '';
            display: none;
            position: absolute;
            width: 236px;
            height: 100%;
            top: 0;
            left: 62px;
            background: url(../img/footer-big-1.png) no-repeat;
            background-size: cover;
        }
        &:after {
            content: '';
            display: none;
            position: absolute;
            width: 202px;
            height: 283px;
            bottom: 0;
            right: 60px;
            background: url(../img/footer-big-2.png) no-repeat;
            background-size: cover;
        }
        &-wrap {            
            padding: 48px 0;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 160px;
                height: 146px;
                bottom: 0;
                right: 219px;
                background: url(../img/footer-bg-small.png);
            }
        }
        h4 {
            color: #747882;
            font-size: 14px;
            text-transform: uppercase;
            @include lora();
            font-weight: 400;
            margin-bottom: 22px;
        }
        span {
            color: #747882;
            font-size: 13px;
            font-weight: 400;
        }
        &-nav {
            &-wrap {
                nav {
                    margin-left: 68px;
                    &:first-child {
                        margin-left: 0;
                    }
                    li {
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        a {
                            color: #828282;
                            font-size: 13px;
                            font-weight: 400;
                            &:hover {                                
                                color: #00e2ce;
                            }
                        }
                    }
                }
            }
        } 
        &-phone {
            &-block {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
                span {
                    small {
                        font-size: 13px;
                        &:nth-child(1) {                            
                            color: #4ea30f;
                        }
                        &:nth-child(2) {
                            color: #8e5bcc;
                        }
                    }
                }
                a {
                    margin-top: 8px;
                    display: flex;
                    color: #424242;
                    font-size: 18px;
                    font-weight: 400;
                    @include lora();
                }
            }
        }
        &-adress {
            &-block {
                margin-top: 23px;
                &:first-child {
                    margin-top: 0;
                }
                strong {
                    display: flex;
                    margin-top: 7px;
                    color: #424242;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    &__bottom {
        padding: 20px 0;
        span {
            color: #828282;
            font-size: 12px;
            font-weight: 400;
        }
        &-agreement {
            a {
                text-decoration: underline;
            }
        }
        &-dev {
            position: relative;
            padding-right: 111px;
            &-logo {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 108px;
                height: 16px;
                background: url(../img/dev.png);
            }
        }
    }
}



@media screen and (max-width: 425px) {
    .container {
        padding: 0 15px;
    }
    .head h2 {
        font-size: 24px;
    }
    .header {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
        &__logo {
            color: #7f848f;
            font-size: 13px;
            font-weight: 400;
            padding-right: 0;
        }
        &__adress {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__basket {
            display: none;
        }
        &__bottom {
            display: none;
            border-top: 1px solid #f2f4f9;
        }
        &-mobile {
            display: block;
        }
    }
    .breadcrumb {
        margin-top: 20px;
        margin-bottom: 10px;
        &__wrap {
            margin: 0 -10px;
        }
        ul {
            li {
                padding: 0 10px;
                margin-bottom: 10px;
            }
        }
    }
    .pagination {
        ul {
            li {
                &:first-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-bottom: none;
                            border-right: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                &:last-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-top: none;
                            border-left: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                span {                    
                    position: relative;
                    padding-top: 6px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .main {
        margin-top: 42px;
        margin-bottom: 20px;
        &__slider {
            .slick-dots {
                bottom: 10px;
                li {
                    width: 25px;
                    height: 5px;
                }
            }
        }
    }
    .catalog {
        margin-bottom: 46px;
        &__filter {
            margin-top: 24px;
            &-links {
                margin: 0 -5px;
                flex-wrap: wrap;
                a {
                    margin: 5px;
                    margin-bottom: 5px;
                    height: auto;
                    padding: 11px 13px;
                    background-color: #ffffff;
                    border-radius: 18px;
                    color: #626262;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                    margin-bottom: 8px;
                }
                .filter__active {
                    box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
                    background-color: #00e2ce;
                    color: #fff;           
                }
            }
            &-bottom {
                margin-top: 35px;
                margin-bottom: 48px;
                flex-direction: column;
            }
            &-sort {
                margin-bottom: 20px;
                justify-content: center;
                &-top {
                    flex-direction: column;
                    justify-content: flex-start !important;
                    .catalog__filter-sort-item {
                        display: flex;
                        margin-top: 5px;
                    }
                }
            }
            &-wrap {
                display: none;
            }
            &-mobile {
                display: block;
            }
        }
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            margin-bottom: 20px;
            &-icon {
                .card__icon {
                    width: 22px;
                    height: 22px;
                    font-size: 7px;
                }
            }
            &-img {
                height: 180px;
            } 
            &-content {
                padding: 10px;
                padding-bottom: 20px;
            }
            &-head {
                font-size: 12px;
                min-height: 65px;
            }
            &-price {
                font-size: 16px;
                .old__price {
                    font-size: 12px;
                }
            }
            &:hover {               
                .catalog__card-btn {                    
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &__info {
            margin-top: 50px;
            margin-bottom: 50px;
            &-head {
                margin-bottom: 20px;
                font-size: 24px;
            }
            &-text {
                p {
                    line-height: 24px;
                }
            }
        }
    }
    .tovar {
        margin-top: 40px;
        margin-bottom: 112px;
        &__head {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__wrap {
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 300px;
        }
        &__content {
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
            &-wrap {
                padding: 15px;
                background: #fff;
            }
            &-price {
                font-size: 26px;
                span {
                    font-size: 18px;
                }
            }
            &-composition {
                margin-top: 20px;
                .composition {
                    &-head {
                        font-size: 16px;
                    }
                }
            }
            &-calc {
                margin-top: 10px;
                background: #fff;
                padding: 15px;
                position: relative;
                padding-bottom: 70px;
                .calc {
                    &__total {
                        &-input {
                            border-radius: 3px;
                            border: 1px solid #ff9fcc;
                            background-color: #ffffff;
                            width: 63px;
                            height: 40px;
                            display: flex;
                            input {
                                display: flex;
                                color: #424242;
                                font-size: 14px;
                                font-weight: 400;
                                width: 50%;
                                text-align: center;
                                border: none;
                                &::placeholder {
                                    color: #424242;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25%;
                                margin: 0 !important;
                                color: #ff9fcc !important;
                                font-size: 26px !important;
                                font-weight: 400;
                            }
                        }
                        span {
                            margin-left: 10px;
                            margin-right: 10px;
                            color: #424242;
                            font-size: 12px;
                            font-weight: 400;
                            user-select: none;
                            cursor: pointer;
                        }
                        &-sum {
                            color: #ff80bc;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            @include lora();
                        }
                    }
                }
                &-buy {
                    bottom: -17%;
                    width: calc(100% - 30px);
                    button {
                        padding: 20px 0;
                        width: 100%;
                    }
                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .category {
        margin-bottom: 44px;
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            height: auto;
            margin-bottom: 20px;
            &-head {
                min-height: 50px;
            }
            &-img {
                height: 200px;
            }
        }
    }
    .info {
        margin-top: 30px;
        margin-bottom: 30px;
        &__wrap {
            flex-direction: column;
        }
        img {
            height: 180px;
        }
        &__content {
            margin-left: 0;
            padding-top: 15px;
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .banner {
        height: auto;
        padding: 15px;
        text-align: center;
        background-image: none !important;
        &__content {
            width: 100%;
            text-align: center;
        }
        &__head {
            font-size: 24px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            &-text {
                font-size: 16px;
            }
        }
        &__content {
            &-wrap {            
                padding: 30px 0;
                position: relative;
                flex-direction: column;
                &:before {
                    display: none;
                }
            }
            h4 {
                margin-bottom: 15px;
            }
            &-nav {
                margin-top: 15px;
                h4 {
                    span {
                        position: relative;
                        padding-right: 20px;
                        &:before {
                            content: '';
                            display: flex;
                            position: absolute;
                            top: 8%;
                            right: 0;
                            width: 7px;
                            height: 7px;
                            border: 2px solid #747882;
                            border-right: none;
                            border-top: none;
                            transform: rotate(-45deg);
                            transition: 0.8s;
                        }
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                &-wrap {
                    flex-direction: column;
                    display: none;
                    nav {
                        margin-left: 0;
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        li {
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            } 
            &-phone {
                margin-top: 15px;
            }
            &-adress {
                margin-top: 15px;
            }
        }
        &__head-active {
            h4 {
                span {
                    position: relative;
                    padding-right: 20px;
                    &:before {
                        top: 35%;
                        transform: rotate(135deg);
                        transition: 0.8s;
                    }
                }
            }
        }
        &__nav-active {
            display: block;
        }
        &__bottom {
            padding: 10px 0;
            flex-direction: column;
            text-align: center;
            span {
                color: #828282;
                font-size: 12px;
                font-weight: 400;
            }
            &-agreement {
                margin-bottom: 10px;
            }
            &-dev {
                width: 67%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
    .head h2 {
        font-size: 24px;
    }
    .header {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
        &__logo {
            color: #7f848f;
            font-size: 13px;
            font-weight: 400;
            padding-right: 0;
        }
        &__adress {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__basket {
            display: none;
        }
        &__bottom {
            display: none;
            border-top: 1px solid #f2f4f9;
        }
        &-mobile {
            display: block;
        }
    }
    .breadcrumb {
        margin-top: 20px;
        margin-bottom: 10px;
        &__wrap {
            margin: 0 -10px;
        }
        ul {
            li {
                padding: 0 10px;
                margin-bottom: 10px;
            }
        }
    }
    .pagination {
        ul {
            li {
                &:first-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-bottom: none;
                            border-right: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                &:last-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-top: none;
                            border-left: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                span {                    
                    position: relative;
                    padding-top: 6px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .main {
        margin-top: 42px;
        margin-bottom: 20px;
    }
    .catalog {
        margin-bottom: 46px;
        &__filter {
            margin-top: 24px;
            &-links {
                margin: 0 -5px;
                flex-wrap: wrap;
                a {
                    margin: 5px;
                    margin-bottom: 5px;
                    height: auto;
                    padding: 11px 13px;
                    background-color: #ffffff;
                    border-radius: 18px;
                    color: #626262;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                    margin-bottom: 8px;
                }
                .filter__active {
                    box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
                    background-color: #00e2ce;
                    color: #fff;           
                }
            }
            &-bottom {
                margin-top: 35px;
                margin-bottom: 48px;
                flex-direction: column;
            }
            &-sort {
                margin-bottom: 20px;
                justify-content: center;
                &-top {
                    flex-direction: column;
                    justify-content: flex-start !important;
                    .catalog__filter-sort-item {
                        display: flex;
                        margin-top: 5px;
                    }
                }
            }
            &-wrap {
                display: none;
            }
            &-mobile {
                display: block;
            }
        }
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            margin-bottom: 20px;
            &-icon {
                .card__icon {
                    width: 22px;
                    height: 22px;
                    font-size: 7px;
                }
            }
            &-head {
                min-height: 50px;
            }
            &:hover {               
                .catalog__card-btn {                    
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &__info {
            margin-top: 50px;
            margin-bottom: 50px;
            &-head {
                margin-bottom: 20px;
                font-size: 24px;
            }
            &-text {
                p {
                    line-height: 24px;
                }
            }
        }
    }
    .tovar {
        margin-top: 40px;
        margin-bottom: 112px;
        &__head {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__wrap {
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 300px;
        }
        &__content {
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
            &-wrap {
                padding: 15px;
                background: #fff;
            }
            &-price {
                font-size: 26px;
                span {
                    font-size: 18px;
                }
            }
            &-composition {
                margin-top: 20px;
                .composition {
                    &-head {
                        font-size: 16px;
                    }
                }
            }
            &-calc {
                margin-top: 10px;
                background: #fff;
                padding: 15px;
                position: relative;
                padding-bottom: 70px;
                .calc {
                    &__total {
                        &-input {
                            border-radius: 3px;
                            border: 1px solid #ff9fcc;
                            background-color: #ffffff;
                            width: 63px;
                            height: 40px;
                            display: flex;
                            input {
                                display: flex;
                                color: #424242;
                                font-size: 14px;
                                font-weight: 400;
                                width: 50%;
                                text-align: center;
                                border: none;
                                &::placeholder {
                                    color: #424242;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25%;
                                margin: 0 !important;
                                color: #ff9fcc !important;
                                font-size: 26px !important;
                                font-weight: 400;
                            }
                        }
                        span {
                            margin-left: 10px;
                            margin-right: 10px;
                            color: #424242;
                            font-size: 12px;
                            font-weight: 400;
                            user-select: none;
                            cursor: pointer;
                        }
                        &-sum {
                            color: #ff80bc;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            @include lora();
                        }
                    }
                }
                &-buy {
                    bottom: -17%;
                    width: calc(100% - 30px);
                    button {
                        padding: 20px 0;
                        width: 100%;
                    }
                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .category {
        margin-bottom: 44px;
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            height: auto;
            margin-bottom: 20px;
            &-img {
                height: 200px;
            }
        }
    }
    .info {
        margin-top: 30px;
        margin-bottom: 30px;
        &__wrap {
            flex-direction: column;
        }
        &__content {
            margin-left: 0;
            padding-top: 15px;
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .banner {
        height: auto;
        padding: 15px;
        text-align: center;
        background-image: none !important;
        &__content {
            width: 100%;
            text-align: center;
        }
        &__head {
            font-size: 24px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            &-text {
                font-size: 16px;
            }
        }
        &__content {
            &-wrap {            
                padding: 30px 0;
                position: relative;
                flex-direction: column;
                &:before {
                    display: none;
                }
            }
            h4 {
                margin-bottom: 15px;
            }
            &-nav {
                margin-top: 15px;
                h4 {
                    span {
                        position: relative;
                        padding-right: 20px;
                        &:before {
                            content: '';
                            display: flex;
                            position: absolute;
                            top: 8%;
                            right: 0;
                            width: 7px;
                            height: 7px;
                            border: 2px solid #747882;
                            border-right: none;
                            border-top: none;
                            transform: rotate(-45deg);
                            transition: 0.8s;
                        }
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                &-wrap {
                    flex-direction: column;
                    display: none;
                    nav {
                        margin-left: 0;
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        li {
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            } 
            &-phone {
                margin-top: 15px;
            }
            &-adress {
                margin-top: 15px;
            }
        }
        &__head-active {
            h4 {
                span {
                    position: relative;
                    padding-right: 20px;
                    &:before {
                        top: 35%;
                        transform: rotate(135deg);
                        transition: 0.8s;
                    }
                }
            }
        }
        &__nav-active {
            display: block;
        }
        &__bottom {
            padding: 10px 0;
            flex-direction: column;
            text-align: center;
            span {
                color: #828282;
                font-size: 12px;
                font-weight: 400;
            }
            &-agreement {
                margin-bottom: 10px;
            }
            &-dev {
                width: 67%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .head h2 {
        font-size: 24px;
    }
    .header {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
        &__logo {
            color: #7f848f;
            font-size: 13px;
            font-weight: 400;
            padding-right: 0;
        }
        &__adress {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__basket {
            display: none;
        }
        &__bottom {
            display: none;
            border-top: 1px solid #f2f4f9;
        }
        &-mobile {
            display: block;
        }
        .mobile-nav {
            width: 50%;
        }
    }
    .breadcrumb {
        margin-top: 20px;
        margin-bottom: 10px;
        &__wrap {
            margin: 0 -10px;
        }
        ul {
            li {
                padding: 0 10px;
                margin-bottom: 10px;
            }
        }
    }
    .pagination {
        ul {
            li {
                &:first-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-bottom: none;
                            border-right: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                &:last-child {
                    span {
                        &:before {
                            content: '';
                            width: 7px;
                            height: 7px;
                            border: 2px solid #424242;
                            border-top: none;
                            border-left: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
                span {                    
                    position: relative;
                    padding-top: 6px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .main {
        margin-top: 42px;
        margin-bottom: 20px;
    }
    .catalog {
        margin-bottom: 46px;
        &__filter {
            margin-top: 24px;
            &-links {
                margin: 0 -5px;
                flex-wrap: wrap;
                a {
                    margin: 5px;
                    margin-bottom: 5px;
                    height: auto;
                    padding: 11px 13px;
                    background-color: #ffffff;
                    border-radius: 18px;
                    color: #626262;
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                    margin-bottom: 8px;
                }
                .filter__active {
                    box-shadow: 0 5px 15px rgba(0, 255, 232, 0.15);
                    background-color: #00e2ce;
                    color: #fff;           
                }
            }
            &-bottom {
                margin-top: 35px;
                margin-bottom: 48px;
                flex-direction: column;
            }
            &-sort {
                margin-bottom: 20px;
                justify-content: center;
                &-top {
                    flex-direction: column;
                    justify-content: flex-start !important;
                    .catalog__filter-sort-item {
                        display: flex;
                        margin-top: 5px;
                    }
                }
            }
            &-wrap {
                display: none;
            }
            &-mobile {
                display: block;
            }
        }
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            margin-bottom: 20px;
            &-icon {
                .card__icon {
                    width: 22px;
                    height: 22px;
                    font-size: 7px;
                }
            }
            &:hover {               
                .catalog__card-btn {                    
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &__info {
            margin-top: 50px;
            margin-bottom: 50px;
            &-head {
                margin-bottom: 20px;
                font-size: 24px;
            }
            &-text {
                p {
                    line-height: 24px;
                }
            }
        }
    }
    .tovar {
        margin-top: 40px;
        margin-bottom: 112px;
        &__head {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &__wrap {
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: 300px;
        }
        &__content {
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
            &-wrap {
                padding: 15px;
                background: #fff;
            }
            &-price {
                font-size: 26px;
                span {
                    font-size: 18px;
                }
            }
            &-composition {
                margin-top: 20px;
                .composition {
                    &-head {
                        font-size: 16px;
                    }
                }
            }
            &-calc {
                margin-top: 10px;
                background: #fff;
                padding: 15px;
                position: relative;
                padding-bottom: 70px;
                .calc {
                    &__total {
                        &-input {
                            border-radius: 3px;
                            border: 1px solid #ff9fcc;
                            background-color: #ffffff;
                            width: 63px;
                            height: 40px;
                            display: flex;
                            input {
                                display: flex;
                                color: #424242;
                                font-size: 14px;
                                font-weight: 400;
                                width: 50%;
                                text-align: center;
                                border: none;
                                &::placeholder {
                                    color: #424242;
                                    font-size: 14px;
                                    font-weight: 400;
                                }
                            }
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25%;
                                margin: 0 !important;
                                color: #ff9fcc !important;
                                font-size: 26px !important;
                                font-weight: 400;
                            }
                        }
                        span {
                            margin-left: 10px;
                            margin-right: 10px;
                            color: #424242;
                            font-size: 12px;
                            font-weight: 400;
                            user-select: none;
                            cursor: pointer;
                        }
                        &-sum {
                            color: #ff80bc;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: italic;
                            @include lora();
                        }
                    }
                }
                &-buy {
                    bottom: -17%;
                    width: calc(100% - 30px);
                    button {
                        padding: 20px 0;
                        width: 100%;
                    }
                    a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .category {
        margin-bottom: 44px;
        &__wrap {
            margin: 0 -1%;
            margin-top: 20px;
        }
        &__card {
            width: 48%;
            margin: 0 1%;
            height: auto;
            margin-bottom: 20px;
        }
    }
    .info {
        margin-top: 30px;
        margin-bottom: 30px;
        &__wrap {
            flex-direction: column;
        }
        &__content {
            margin-left: 0;
            padding-top: 15px;
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .banner {
        height: auto;
        padding: 15px;
        text-align: center;
        background-image: none !important;
        &__content {
            width: 100%;
            text-align: center;
        }
        &__head {
            font-size: 24px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            &-text {
                font-size: 16px;
            }
        }
        &__content {
            &-wrap {            
                padding: 30px 0;
                position: relative;
                flex-direction: column;
                &:before {
                    display: none;
                }
            }
            h4 {
                margin-bottom: 15px;
            }
            &-nav {
                margin-top: 15px;
                h4 {
                    span {
                        position: relative;
                        padding-right: 20px;
                        &:before {
                            content: '';
                            display: flex;
                            position: absolute;
                            top: 8%;
                            right: 0;
                            width: 7px;
                            height: 7px;
                            border: 2px solid #747882;
                            border-right: none;
                            border-top: none;
                            transform: rotate(-45deg);
                            transition: 0.8s;
                        }
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                &-wrap {
                    flex-direction: column;
                    display: none;
                    nav {
                        margin-left: 0;
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        li {
                            margin-top: 10px;
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            } 
            &-phone {
                margin-top: 15px;
            }
            &-adress {
                margin-top: 15px;
            }
        }
        &__head-active {
            h4 {
                span {
                    position: relative;
                    padding-right: 20px;
                    &:before {
                        top: 35%;
                        transform: rotate(135deg);
                        transition: 0.8s;
                    }
                }
            }
        }
        &__nav-active {
            display: block;
        }
        &__bottom {
            padding: 10px 0;
            flex-direction: column;
            text-align: center;
            span {
                color: #828282;
                font-size: 12px;
                font-weight: 400;
            }
            &-agreement {
                margin-bottom: 10px;
            }
            &-dev {
                width: 67%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) { 
    .container {
        padding: 0 15px;
    }   
    .header {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
        &__logo {
            color: #7f848f;
            font-size: 13px;
            font-weight: 400;
            padding-right: 0;
        }
        &__adress {
            display: none;

            padding-left: 22px;
            position: relative;
            color: #424242;
            font-size: 12px;
            font-weight: 400;
            min-width: 170px;
            &:before {
                content: '';
                position: absolute;
                width: 11px;
                height: 16px;
                bottom: 0;
                left: 0;
                background: url(../img/icon/adress-icon.svg) no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
        &__phone {
            display: flex;
            flex-direction: column;
            
            display: none;
            a {
                display: flex;
                justify-content: flex-end;
                margin-top: 6px;
                color: #424242;
                font-size: 22px;
                font-weight: 400;
                @include lora();
            }
            span {
                color: #828282;
                font-size: 11px;
                font-weight: 400;
            }        
            &-top {
                text-align: right;
                font-size: 11px;
            }
            &-messager {
                color: #828282;
                span {
                    color: #519523;
                    font-size: 11px;
                    font-weight: 400;
                    &:first-child {
                        color: #7451e6;
                    }
                }
            }  
            &-icon {
                a {
                    position: relative;
                    padding-left: 26px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        background: url(../img/icon/phone-icon.svg) no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }
                }
            }
        }
        &__basket {
            display: none;

            min-width: 140px;
            margin-left: 41px;
            &-tovar {
                position: relative;
                width: 49px;
                height: 31px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 31px;
                    top: 0px;
                    background: url(../img/basket.png);
                }
                span {
                    position: absolute;
                    width: 31px;
                    height: 31px;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    color: #424242;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: #f2f4f9;
                }
            }
            &-total {
                color: #424242;
                font-size: 14px;
                font-weight: 400;
                margin-left: 8px;
            }
        }
        &__bottom {
            display: none;
            margin-top: 19px;
            padding: 5px 0;
            border-top: 1px solid #f2f4f9;
        }
        &__nav {
            li {
                display: flex;
                height: 100%;
                &:first-child {
                    margin-left: 0;
                }
                margin-left: 70px;
                a {
                    color: #424242;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: uppercase;
                    &:hover {
                        color: #00e2ce;
                    }
                }
            }
            .submenu-standart {
                border-top: 1px solid #e5e5e5;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
                background: white;
                padding: 25px 0;
                position: absolute;
                top: 220%;
                left: 0;
                z-index: 5;
                opacity: 0;
                visibility: hidden;
                transform: translate3d(0,30px,0);
                transition: .5s ease-out;
                transform-origin: 0% 0%;
                min-width: 200px;
                padding: 10px 0;
                li {
                    margin-left: 0;
                    a {
                        text-transform: none;
                        &:hover {
                            color: #00e2ce;
                        }
                    }
                }
            }
            .dropdown-standart {position: relative;}
            li:hover .submenu-standart {
                opacity: 1;
                visibility: visible;
                transform: translate3d(0,0,0);
            }
            .submenu-standart li {padding: 0 18px;}
            .submenu-standart li a {
                display: block;
                padding: 10px 0;
                color: #666;
                font-size: 13px;
            }

        }
        &__search {
            width: 354px;
            &-wrap {
                position: relative;
                border-radius: 20px;
                border: 1px solid #dcdde2;
                background-color: #ffffff;
                &:before {
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    background: url(../img/icon/search.svg);
                }
                input {
                    width: 100%;
                    color: #bbbbbb;
                    font-size: 14px;
                    font-weight: 400;
                    border: none;                
                    padding: 14px 50px 14px 20px;
                    border-radius: 20px;
                    @include segoe();
                    &::placeholder {
                        color: #bbbbbb;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        &-mobile {
            display: block;
        }
        .mobile-nav {
            width: 40%;
        }
    }
    .catalog {
        margin-bottom: 30px;
        &__filter {
            &-bottom {
                flex-direction: column;
                margin-bottom: 28px;
            }
            &-sort {
                margin-bottom: 20px;
            }
        }
        &__wrap {
            margin: 0 -1%;
            margin-top: 30px;
            flex-wrap: wrap;
        }
        &__card {
            width: 31%;
            margin: 0 1%;
            margin-bottom: 20px;
            &-img {
                height: 200px;
            } 
            &-head {
                min-height: 55px;
            }
        }
    }
    .tovar {
        margin-top: 30px;
        margin-bottom: 112px;
        &__head {
            color: #525252;
            font-size: 32px;
            font-weight: 400;
            text-align: center;
            @include lora();
            margin-bottom: 40px;
        }
        &__img {
            width: 40%;
            height: 300px;
        }
        &__content {
            width: 60%;
            padding-left: 20px;
            &-wrap {
                padding: 20px 30px;
                background: #fff;
            }
            &-price {
                font-size: 30px;
            }
            &-composition {
                margin-top: 25px;
            }
            &-calc {
                margin-top: 10px;
                background: #fff;
                padding: 20px 30px;
                position: relative;
                padding-bottom: 70px;
                .calc {
                    &__total {
                        span {
                            margin-right: 10px;
                            font-size: 15px;
                        }
                        &-sum {
                            font-size: 22px;
                        }
                    }
                }
                &-buy {
                    width: calc(100% - 60px);
                    button {
                        padding: 24px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    .category {
        margin-bottom: 30px;
        &__wrap {
            margin: 0 -1%;
            margin-top: 47px;
            flex-wrap: wrap;
        }
        &__card {
            width: 31%;
            &-img {
                height: 264px;
            }
        }
    }
    .banner {
        height: auto !important;
        padding: 15px;        
        background-image: none !important;
        &__content {
            width: 100%;
            text-align: center;
        }
        &__head {
            font-size: 28px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .info {
        margin-top: 40px;
        margin-bottom: 40px;
        &__wrap {
            display: block;
        }
        img {
            float: left;
            width: 250px;
            height: 140px;
            padding: 0 15px 15px 0;
        }
        &__content {
            margin-left: 0;
            padding-top: 0;
            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    .footer {
        &__content {
            &-wrap {            
                padding: 48px 0;
                position: relative;
                &:before {
                    display: none;
                }
            }
            h4 {
                color: #747882;
                font-size: 14px;
                text-transform: uppercase;
                @include lora();
                font-weight: 400;
                margin-bottom: 22px;
            }
            span {
                color: #747882;
                font-size: 13px;
                font-weight: 400;
            }
            &-bignav {
                display: none;
            } 
        }
    }
} 
@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }   
    .header {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(49, 52, 56, 0.05);
        &__logo {
            color: #7f848f;
            font-size: 13px;
            font-weight: 400;
            padding-right: 0;
        }
        &__adress {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__basket {
            display: none;
        }
        &__bottom {
            display: none;
        }
        &-mobile {
            display: block;
        }
        .mobile-nav {
            width: 30%;
        }
    }
    .category {
        &__wrap {
            margin: 0 1%;
        }
        &__card {
            width: 23%;
            margin: 0 1%;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1900px) {
    .footer__content {
        &:before, &:after {
            display: block;
        }
    }
}

